.pageContainer {
  padding: 1rem 1.5rem 0 calc(300px + 2rem + 1.5rem);
}

.pageContainer .btnsContainer {
  display: flex;
  margin: 2.5rem 0 2.5rem 0;
}

.pageContainer .btnsContainer input,
.pageContainer .btnsContainer button {
  margin: 0 0.5rem;
}

.pageContainer .btnsContainer input {
  flex: 1;
  margin-left: 0;
}
