.btnsContainer {
  display: flex;
  margin: 2.5rem 0 2.5rem 0;
}

.btnsContainer .btnsBlock {
  display: flex;
}

.btnsContainer .btnsBlock button {
  margin-left: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btnsContainer .input {
  flex: 1;
  position: relative;
}

.btnsContainer input {
  outline: 1px solid var(--bs-gray-400);
}

.btnsContainer .input button {
  width: 52px;
}

.listBox {
  display: flex;
  flex-wrap: wrap;
  flex: 1;
}

.listBox .itemCard {
  width: 50%;
}

.listBox .notFound {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

@media (max-width: 1120px) {
  .contract {
    padding-left: calc(250px + 2rem + 1.5rem);
  }

  .listBox .itemCard {
    width: 100%;
  }
}

@media (max-width: 1020px) {
  .btnsContainer {
    flex-direction: column;
    margin: 1.5rem 0;
  }

  .btnsContainer .btnsBlock {
    margin: 1.5rem 0 0 0;
    justify-content: space-between;
  }

  .btnsContainer .btnsBlock button {
    margin: 0;
  }

  .btnsContainer .btnsBlock div button {
    margin-right: 1.5rem;
  }
}

/* For mobile devices  */

@media (max-width: 520px) {
  .btnsContainer {
    margin-bottom: 0;
  }

  .btnsContainer .btnsBlock {
    display: block;
    margin-top: 1rem;
    margin-right: 0;
  }

  .btnsContainer .btnsBlock div {
    flex: 1;
  }

  .btnsContainer .btnsBlock div[title='Sort organizations'] {
    margin-right: 0.5rem;
  }

  .btnsContainer .btnsBlock button {
    margin-bottom: 1rem;
    margin-right: 0;
    width: 100%;
  }
}

/* Loading OrgList CSS */
.itemCard .loadingWrapper {
  background-color: var(--bs-white);
  margin: 0.5rem;
  height: calc(120px + 2rem);
  padding: 1rem;
  border-radius: 8px;
  outline: 1px solid var(--bs-gray-200);
  position: relative;
}

.itemCard .loadingWrapper .innerContainer {
  display: flex;
}

.itemCard .loadingWrapper .innerContainer .orgImgContainer {
  width: 120px;
  height: 120px;
  border-radius: 4px;
}

.itemCard .loadingWrapper .innerContainer .content {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
}

.itemCard .loadingWrapper .innerContainer .content h5 {
  height: 24px;
  width: 60%;
  margin-bottom: 0.8rem;
}

.itemCard .loadingWrapper .innerContainer .content h6[title='Location'] {
  display: block;
  width: 45%;
  height: 18px;
}

.itemCard .loadingWrapper .innerContainer .content h6 {
  display: block;
  width: 30%;
  height: 16px;
  margin-bottom: 0.8rem;
}

.itemCard .loadingWrapper .button {
  position: absolute;
  height: 48px;
  width: 92px;
  bottom: 1rem;
  right: 1rem;
  z-index: 1;
}

@media (max-width: 450px) {
  .itemCard .loadingWrapper {
    height: unset;
    margin: 0.5rem 0;
    padding: 1.25rem 1.5rem;
  }

  .itemCard .loadingWrapper .innerContainer {
    flex-direction: column;
  }

  .itemCard .loadingWrapper .innerContainer .orgImgContainer {
    height: 200px;
    width: 100%;
    margin-bottom: 0.8rem;
  }

  .itemCard .loadingWrapper .innerContainer .content {
    margin-left: 0;
  }

  .itemCard .loadingWrapper .button {
    bottom: 0;
    right: 0;
    border-radius: 0.5rem;
    position: relative;
    margin-left: auto;
    display: block;
  }
}
