.cardItem {
  composes: cardItem from 'style/app-fixed.module.css';
}

.CardItemImage {
  composes: CardItemImage from 'style/app-fixed.module.css';
}

.CardItemMainDiv {
  composes: CardItemMainDiv from 'style/app-fixed.module.css';
}

.CardItemMainDivEvent {
  composes: CardItemMainDivEvent from 'style/app-fixed.module.css';
}

.cardItemtitle {
  composes: cardItemtitle from 'style/app-fixed.module.css';
}

.upcomingEventsTitle {
  composes: upcomingEventsTitle from 'style/app-fixed.module.css';
}

.CardItemDate {
  composes: CardItemDate from 'style/app-fixed.module.css';
}

.cardItemAuthor {
  composes: cardItemAuthor from 'style/app-fixed.module.css';
}

.rightCard {
  composes: rightCard from 'style/app-fixed.module.css';
}

.location {
  composes: location from 'style/app-fixed.module.css';
}

.time {
  composes: time from 'style/app-fixed.module.css';
}
