.cardsEventListCard {
  background-color: var(--cardsEventListCard-bg);
  border: var(--border-1) solid var(--cardsEventListCard-border);
  box-shadow: 0px 4px 4px var(--cardsEventListCard-box-shadow);
  border-radius: var(--radius-lg);
  overflow: hidden;
  height: var(--space-11);
  cursor: pointer;
  padding: var(--space-2);
  transition: transform 0.2s;
}

.cardsEventListCard:hover {
  transform: scale(1.02);
}

.cardsEventListCard > p {
  font-size: var(--font-size-sm);
  margin-top: 0px;
  margin-bottom: var(--space-1);
}

.cardsEventListCard a {
  color: var(--cardsEventListCard-a-color);
  font-weight: var(--font-weight-semibold);
}

.cardsEventListCard a:hover {
  color: var(--cardsEventListCard-a-color-hover);
}

.cardsEventListCard:last-child:nth-last-child(odd) {
  grid-column: auto / span 2;
}

.cardsEventListCard:first-child:nth-last-child(even) {
  grid-column: auto / span 1;
}

.dispflexEventListCard {
  display: flex;
  cursor: pointer;
  justify-content: space-between;
  margin: var(--space-1) var(--space-2) var(--space-1) var(--space-2);
}

.dispflexEventListCard > input {
  width: 20%;
  border: none;
  box-shadow: none;
  margin-top: var(--space-1);
}

.eventtitle {
  margin-bottom: 0px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  font-size: var(--font-size-lg);
  color: var(--cardsEventListCard-h2-color);
}
