.volunteerModal {
  max-width: 80vw;
  margin: 2vh auto;
}

.titlemodal {
  color: var(--color-gray-500);
  font-weight: var(--font-weight-semibold);
  font-size: var(--font-size-3xl);
  width: 65%;
  margin-bottom: var(--space-0);
}
