.maintitle {
  font-size: 18px;
  color: #707070;
  width: 70%;
  margin: 35px auto 10px;
  text-align: center;
}
.maintitle > span {
  color: black;
}
.fromtitle {
  font-size: 14px;
  color: #707070;
  margin: 40px auto 10px;
  text-align: center;
}
.carouseldiv {
  z-index: 1;
  margin: 35px auto 10px;
  align-items: center;
  width: 80%;
}

.carouseldiv img {
  border-radius: 5px;
}
