.tableHeader {
  background-color: var(--color-gray-100);
  color: var(--color-black);
  font-size: var(--font-size-md);
  font-weight: var(--font-weight-bold);
}

.pledgerContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: var(--space-1) var(--space-2);
  gap: var(--space-2);
  padding: var(--space-2) var(--space-3);
  border-radius: var(--radius-sm);
  background-color: var(--color-green-100);
  height: var(--space-9);
  margin-top: var(--space-4);
}

.TableImagePledge {
  object-fit: cover;
  width: var(--space-7);
  height: var(--space-7);
  border-radius: var(--radius-full);
}

.imageContainerPledge {
  display: flex;
  align-items: center;
  justify-content: center;
}

.moreContainer {
  display: flex;
  align-items: center;
}

.moreContainer:hover {
  text-decoration: underline;
  cursor: pointer;
}

.editButton {
  background-color: var(--color-blue-200);
  color: var(--color-gray-700);
  border-color: var(--color-gray-100);
  --bs-btn-active-bg: var(--color-blue-500);
  --bs-btn-active-border-color: var(--color-gray-100);
}

.editButton:is(:hover, :active) {
  background-color: var(--color-blue-500);
  border-color: var(--color-gray-700);
  box-shadow: none;
}

.flexWrapGap {
  flex-wrap: wrap;
  gap: var(--space-3);
}

.maxHeight120 {
  max-height: var(--space-14);
}
