.errorContainer {
  min-height: 100vh;
}

.errorMessage {
  margin-top: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.errorIcon {
  font-size: var(--error-icon-size, 40px);
  color: var(--bs-danger, var(--errorIcon-color));
  margin-bottom: var(--space-5);
}

.errorIcon::before {
  content: '⚠️';
  margin-right: var(--space-3);
}

.simpleLoader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: var(--space-100);
  width: 100%;
}

.spinner {
  width: var(--space-8);
  height: var(--space-8);
  border: var(--border-4) solid var(--addButton-bg);
  border-top: var(--border-4) solid var(--addButton-bg-hover);
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.cursorPointer {
  cursor: pointer;
}

.subtagsScrollableDiv {
  max-height: var(--space-20);
  overflow: auto;
}
