.pageContainer {
  display: flex;
  flex-direction: column;
  padding-left: calc(300px + 1.5rem);
}

.expand {
  padding-left: 1.5rem;
  animation: moveLeft 0.5s ease-in-out;
}

.contract {
  padding-left: calc(300px + 1.5rem);
  animation: moveRight 0.5s ease-in-out;
}

.opendrawer {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  width: 40px;
  height: 100vh;
  z-index: 9999;
  background-color: rgba(245, 245, 245);
  border: none;
  border-radius: 0px;
  margin-right: 20px;
  color: black;
}

.opendrawer:hover {
  opacity: 1;
  color: black !important;
}

@media (max-width: 1120px) {
  .contract {
    padding-left: calc(250px + 1.5rem);
  }
}

/* For tablets */
@media (max-width: 820px) {
  .pageContainer {
    padding-left: 1.5rem;
  }

  .opendrawer {
    width: 25px;
  }

  .contract,
  .expand {
    animation: none;
  }
}

@keyframes moveLeft {
  from {
    padding-left: calc(300px + 1.5rem);
  }

  to {
    padding-left: 1.5rem;
  }
}

@keyframes moveRight {
  from {
    padding-left: 1.5rem;
  }

  to {
    padding-left: calc(300px + 1.5rem);
  }
}
