:root {
  --bs-body-font-family: Arial, Helvetica, sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
}

body {
  background-color: var(--bs-body-bg);
}

#root {
  min-height: 100vh;
  background-color: #f2f7ff;
}

input[type='checkbox'] {
  transform: scale(1.5);
}
.form-switch {
  padding-left: 3rem;
}
input[type='file']::file-selector-button {
  background: var(--bs-gray-400);
}