// Colors

$primary: #31bb6b;
$secondary: #707070;
$success: #31bb6b;
$warning: #febc59;

$blue: #0d6efd;
$indigo: #6610f2;
$purple: #6f42c1;
$pink: #d63384;
$red: #dc3545;
$orange: #fd7e14;
$yellow: #ffc107;
$green: #198754;
$teal: #20c997;
$cyan: #0dcaf0;
$placeholder-bg: #f2f2f2;
// Colors

// Links
$link-color: $blue !default;
$link-decoration: none !default;

// Inputs and buttons
$input-bg: $placeholder-bg;
$input-border-width: 0;

$input-btn-padding-y: 0.7rem;
$input-btn-padding-x: 1rem;
