.modalbtn {
  display: flex !important;
  margin-left: auto;
  align-items: center;
}

.modalbtn i,
.button i {
  margin-right: 8px;
}

.button {
  min-width: 102px;
}

.editHeader {
  background-color: #31bb6b;
  color: white;
}

.link_checks {
  margin-top: 15px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  color: red;
}
