.modalbtn {
  display: flex !important;
  margin-left: auto;
  align-items: center;
}

.modalbtn i,
.button i {
  margin-right: 8px;
}

.preview {
  display: flex;
  position: relative;
  width: 100%;
  margin-top: 10px;
  justify-content: center;
}
.preview img {
  width: 400px;
  height: auto;
}
.preview video {
  width: 400px;
  height: auto;
}

.closeButton {
  position: absolute;
  top: 0px;
  right: 0px;
  background: transparent;
  transform: scale(1.2);
  cursor: pointer;
  border: none;
  color: #707070;
  font-weight: 600;
  font-size: 16px;
  cursor: pointer;
}

.button {
  min-width: 102px;
}

.editHeader {
  background-color: #31bb6b;
  color: white;
}
