.sidebar {
  z-index: 0;
  padding-top: var(--space-2);
  margin: 0;
  height: 100%;
  position: relative;
}

.sidebar:after {
  content: '';
  background-color: var(--color-gray-100);
  position: absolute;
  width: var(--space-1);
  height: var(--space-26);
  top: var(--space-4);
  right: 0;
  display: block;
  pointer-events: none;
}

@media only screen and (max-width: 600px) {
  .sidebar {
    position: relative;
    bottom: var(--space-6);
  }
}

.sidebarsticky {
  padding-left: var(--space-10);
  margin-top: var(--space-3);
}

.searchLabel {
  margin-top: calc(var(--space-4) * -1);
}

.searchInput {
  text-decoration: none;
  margin-bottom: var(--space-10);
  border-color: var(--color-gray-100);
  width: 80%;
  border-radius: var(--radius-md);
  padding-top: var(--space-2);
  padding-bottom: var(--space-2);
  padding-right: var(--space-4);
  padding-left: var(--space-4);
  box-shadow: none;
}

.searchtitle {
  color: var(--color-gray-500);
  font-weight: var(--font-weight-semibold);
  font-size: var(--font-size-lg);
  margin-bottom: var(--space-6);
  padding-bottom: var(--space-2);
  border-bottom: var(--border-3) solid var(--color-blue-200);
  width: 60%;
}

.justifysp {
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 575.5px) {
  .justifysp {
    padding-left: var(--space-10);
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
}

.logintitle {
  color: var(--color-gray-500);
  font-weight: var(--font-weight-semibold);
  font-size: var(--font-size-xl);
  margin-bottom: var(--space-8);
  padding-bottom: var(--space-2);
  border-bottom: var(--border-3) solid var(--color-blue-200);
  width: 15%;
}

.mainpageright > hr {
  margin-top: var(--space-6);
  width: 100%;
  margin-left: calc(var(--space-5) * -1);
  margin-right: calc(var(--space-5) * -1);
  margin-bottom: var(--space-6);
}

@media screen and (max-width: 575.5px) {
  .mainpageright {
    width: 98%;
  }
}

@media screen and (max-width: 1200px) {
  .mainpageright {
    width: 100%;
  }
}
