.mainContainer {
  flex-grow: 3;
  max-height: 100%;
  overflow: auto;
}

.containerHeight {
  padding: 1rem 1.5rem 0 calc(300px + 1.5rem);
  height: 100vh;
}

.expand {
  padding-left: 4rem;
  animation: moveLeft 0.9s ease-in-out;
}

.contract {
  padding-left: calc(300px + 2rem + 1.5rem);
  animation: moveRight 0.5s ease-in-out;
}

.cardHeader .cardTitle {
  font-size: 1.2rem;
  font-weight: 600;
}

.cardHeader {
  padding: 1.25rem 1rem 1rem 1rem;
  border-bottom: 1px solid var(--bs-gray-200);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cardBody {
  padding: 1.25rem 1rem 1.5rem 1rem;
  display: flex;
  flex-direction: column;
}

.cardLabel {
  font-weight: bold;
  padding-bottom: 1px;
  font-size: 14px;
  color: #707070;
  margin-bottom: 10px;
}

.cardControl {
  margin-bottom: 20px;
}

.cardButton {
  width: fit-content;
}

.imgContianer {
  margin: 0 2rem 0 0;
}

.imgContianer img {
  height: 120px;
  width: 120px;
  border-radius: 50%;
}

.profileDetails {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.collapseSidebarButton {
  position: fixed;
  height: 40px;
  bottom: 0;
  z-index: 9999;
  width: calc(300px + 2rem);
  background-color: rgba(245, 245, 245, 0.7);
  color: black;
  border: none;
  border-radius: 0px;
}

.collapseSidebarButton:hover,
.opendrawer:hover {
  opacity: 1;
  color: black !important;
}
.opendrawer {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  width: 40px;
  height: 100vh;
  z-index: 9999;
  background-color: rgba(245, 245, 245);
  border: none;
  border-radius: 0px;
  margin-right: 20px;
  color: black;
}

.opendrawer:hover {
  transition: background-color 0.5s ease;
  background-color: var(--bs-primary);
}
.collapseSidebarButton:hover {
  transition: background-color 0.5s ease;
  background-color: var(--bs-primary);
}

@media (max-width: 1120px) {
  .collapseSidebarButton {
    width: calc(250px);
  }
}

@media (max-height: 650px) {
  .collapseSidebarButton {
    width: 250px;
    height: 20px;
  }
  .opendrawer {
    width: 30px;
  }
}

/* For tablets */
@media (max-width: 820px) {
  .containerHeight {
    height: 100vh;
    padding: 2rem;
  }

  .contract,
  .expand {
    animation: none;
  }

  .opendrawer {
    width: 25px;
  }

  .collapseSidebarButton {
    width: 100%;
    left: 0;
    right: 0;
  }
}

@media screen and (max-width: 1280px) and (min-width: 992px) {
  .imgContianer {
    margin: 1rem auto;
  }
  .profileContainer {
    flex-direction: column;
  }
}

@media screen and (max-width: 992px) {
  .profileContainer {
    align-items: center;
    justify-content: center;
  }
}

@media screen and (max-width: 420px) {
  .imgContianer {
    margin: 1rem auto;
  }
  .profileContainer {
    flex-direction: column;
  }
}
