:root {
  --picker-icon-space: 40px;
}

.fullWidth {
  composes: fullWidth from '../common/css/SharedPicker.module.css';
}

.pickerLabel {
  composes: pickerLabel from '../common/css/SharedPicker.module.css';
}

.paddedInput {
  composes: paddedInput from '../common/css/SharedPicker.module.css';
}
