* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body::before {
  display: block;
  content: '';
  height: 85px;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none !important;
}

.main {
  float: left;
  display: block;
}

.navbarbg {
  /* height: 60px; */
  height: auto;
  background-color: white;
  z-index: 1;
  box-shadow: 0px 0px 8px 2px #c8c8c8;
  padding-top: 0px;
  padding-bottom: 0px;
}

.logo {
  color: #707070;
  margin-left: 0;
  display: flex;
  align-items: center;
  text-decoration: none !important;
}

.logo img {
  margin-top: 0px;
  margin-left: 10px;
  height: 64px;
  width: 70px;
}

.logo > strong {
  text-decoration: none;
  line-height: 1.5rem;
  margin-left: -5px;
  font-family: sans-serif;
  font-size: 19px;
  color: #707070;
}
.userimage {
  align-items: right;
  float: right;
  text-align: right;
  justify-content: right;
  margin-right: 25px;
}
.roundedcircle {
  margin-right: 5px;
  border-radius: 50px;
}
.navitems > .navlinks {
  margin-top: 11px;
  cursor: pointer;
  margin-left: 28px;
  line-height: 1rem;
  font-size: 16px;
  color: #707070;
  z-index: 1;
  flex-direction: row;
  display: flex;
}

.navitem {
  text-decoration: none;
  color: #707070 !important;
  transition: smooth;
  padding-bottom: 10px;
}
.navlinks:hover {
  text-decoration: none;
  border-bottom: 3px solid #31bb6b;
  font-weight: 600;
}
/* 
.navlinks.focus {
  border-bottom: 3px solid #31bb6b;
}
.navitems.focus {
  border-bottom: 3px solid #31bb6b;
}
:target{
  border-bottom: 3px solid #31bb6b;
} */
.dropdowns {
  text-decoration: none;
}
.dropdownMenu {
  transform: scale(0.85);
  cursor: pointer;
  transform: translateX(-60px) scale(0.9);
}
#dropdown-basic,
.dropdowns.btn,
.btn:focus,
.btn.focus {
  box-shadow: none !important;
}

.dropdowntoggle {
  display: flex !important;
  align-items: center !important;
  margin-top: 0px;
  margin-left: 15px;
}

.dropdownitem i {
  margin-right: 8px;
}

.languageDropdown {
  margin-left: 11px;
}

@media screen and (max-width: 1024px) {
  .logo > strong {
    display: none;
  }
  .navitems {
    margin-left: 20px;
  }
  .navitems > a {
    margin-right: 20px;
  }
}
.sidebar {
  z-index: 0;
  padding-top: 50px;
  position: fixed;
  min-width: 160px;
  width: 10%;
  background-color: #f7f7f7;
  margin: 0;
  height: 100%;
}
.sidebarsticky {
  padding-top: 40%;
}
.notificationIcon {
  position: relative;
  top: 12px;
  right: 14px;
}
.notificationList:hover {
  background-color: #dfe2e4;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .sidebar {
    width: 15%;
  }
}
@media screen and (max-width: 680px) {
  body {
    overflow-x: hidden;
  }
  .logo {
    margin-left: 0%;
  }
}

@media screen and (max-width: 1199px) {
  body::before {
    height: 118px;
  }
  /* .navbarbg {
    height: auto;
  } */
  .navitems > .navlinks {
    margin-left: 0;
  }
  .dropdowntoggle {
    margin-left: -12px;
  }
  .dropdownMenu {
    transform: translateX(0px) scale(0.9);
  }
  .notificationIcon {
    top: 0px;
    right: -8px;
  }
}

.navbarBrandLogo {
  padding: 0;
}
