# Docusaurus related
.docusaurus

# generated docs using husky pre-commit hook
# /docs/docs/auto-docs

# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# lockfiles from other package managers (YARN, npm)
yarn.lock
package-lock.json

# dependencies
/node_modules
/.pnp
.pnp.js
.node-version

# testing
coverage/
coverage-shards/
codecov

# production
/build

# misc
.DS_Store

# Config files
!/.env.sample
/.env
/.env-*
/.env_*
/.env.*
.backup/

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# express setup
debug.log

# No editor related files
.idea
.vscode
*.swp

# Plugin related
/src/plugin/available/*
!/src/plugin/available/readme.md

# Cypress related
cypress/videos
cypress/screenshots
.nyc_output

# Redis related
dump.rdb

venv