.notfound {
  position: relative;
  bottom: 80px;
}

.notfound h3 {
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  letter-spacing: 1px;
}

.notfound .brand span {
  margin-top: 50px;
  font-size: 40px;
}
.notfound .brand h3 {
  font-weight: 300;
  margin: 10px 0 0 0;
}
.notfound h1.head {
  font-size: 250px;
  font-weight: 900;
  color: #31bb6b;
  letter-spacing: 25px;
  margin: 10px 0 0 0;
}
.notfound h1.head span {
  position: relative;
  display: inline-block;
}
.notfound h1.head span:before,
.notfound h1.head span:after {
  position: absolute;
  top: 50%;
  width: 50%;
  height: 1px;
  background: #fff;
  content: '';
}
.notfound h1.head span:before {
  left: -55%;
}
.notfound h1.head span:after {
  right: -55%;
}

@media (max-width: 1024px) {
  .notfound h1.head {
    font-size: 200px;
    letter-spacing: 25px;
  }
}

@media (max-width: 768px) {
  .notfound h1.head {
    font-size: 150px;
    letter-spacing: 25px;
  }
}

@media (max-width: 640px) {
  .notfound h1.head {
    font-size: 150px;
    letter-spacing: 0;
  }
}

@media (max-width: 480px) {
  .notfound .brand h3 {
    font-size: 20px;
  }
  .notfound h1.head {
    font-size: 130px;
    letter-spacing: 0;
  }
  .notfound h1.head span:before,
  .notfound h1.head span:after {
    width: 40%;
  }
  .notfound h1.head span:before {
    left: -45%;
  }
  .notfound h1.head span:after {
    right: -45%;
  }
  .notfound p {
    font-size: 18px;
  }
}

@media (max-width: 320px) {
  .notfound .brand h3 {
    font-size: 16px;
  }
  .notfound h1.head {
    font-size: 100px;
    letter-spacing: 0;
  }
  .notfound h1.head span:before,
  .notfound h1.head span:after {
    width: 25%;
  }
  .notfound h1.head span:before {
    left: -30%;
  }
  .notfound h1.head span:after {
    right: -30%;
  }
}
