.forgotPassword .border {
  border-color: #31bb6b !important;
}
.forgotPassword .heading h1 {
  color: #31bb6b;
}

.talawaBackgroundColor {
  background-color: #31bb6b;
}

@media only screen and (max-width: 600px) {
  .forgotPassword .border {
    position: relative;
    bottom: 50px;
  }
}
