.containerWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.containerWrapper .resetForm {
  width: 100%;
  max-width: 700px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
