.pageWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.cardBody {
  padding: 2rem;
  background-color: #fff;
  border-radius: 0.8rem;
  border: 1px solid var(--bs-gray-200);
}

.keyWrapper {
  height: 72px;
  width: 72px;
  transform: rotate(180deg);
  position: relative;
  overflow: hidden;
  display: block;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin: 1rem auto;
}

.keyWrapper .themeOverlay {
  position: absolute;
  background-color: var(--bs-primary);
  height: 100%;
  width: 100%;
  opacity: 0.15;
}

.keyWrapper .keyLogo {
  height: 42px;
  width: 42px;
  -webkit-animation: zoomIn 0.3s ease-in-out;
  animation: zoomIn 0.3s ease-in-out;
}


@-webkit-keyframes zoomIn {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }

  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes zoomIn {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }

  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}