.cards {
  width: 45%;
  background: #fcfcfc;
  margin: 10px 20px;
  padding: 20px 30px;
  border-radius: 5px;
  border: 1px solid #e8e8e8;
  box-shadow: 0 3px 5px #c9c9c9;
  margin-right: 40px;
  color: #737373;
}
.cards > h2 {
  font-size: 19px;
}
.cards > h3 {
  font-size: 17px;
}
.cards > p {
  font-size: 14px;
  margin-top: -5px;
  margin-bottom: 7px;
}
