.timePicker {
  width: 100%;
}

/* Migrated from SharedPicker.module.css */
.fullWidth {
  width: 100%;
}

/* Support for padded input when adornments present */
.paddedInput {
  padding-right: var(--picker-icon-space);
}
