.mainContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 10px;
  cursor: pointer;
  background-color: white;
  border-radius: 10px;
  box-shadow: 2px 2px 8px 0px #c8c8c8;
  overflow: hidden;
}

.eventDetails {
  gap: 5px;
}

.personImage {
  border-radius: 50%;
  margin-right: 20px;
}

.calendarIcon {
  font-size: 2.1875rem;
  /* MUI 'large' size equivalent */
}

.loadingIcon {
  font-size: 1.25rem;
  /* MUI 'small' size equivalent */
}
