.personalDetailsHeader {
  background-color: #a8c7fa;
  color: #555;
}

.profileImage {
  width: 60px;
  height: 60px;
  object-fit: cover;
}

.editProfileIcon {
  cursor: pointer;
  font-size: 1.2rem;
}

.hiddenFileInput {
  display: none;
}


