.topNav {
  display: flex;
  justify-content: flex-start;
  margin-top: 2rem;
  background-color: #ffffff;
  padding-inline: 1.5rem;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  gap: 1rem;
  border-bottom: 1px solid #dddddd;
}

.navOverview {
  border-radius: 16px;
}

.navOther {
  border-radius: 16px 16px 0 0;
}

.topNavBtn {
  display: flex;
  justify-content: space-between;
  border-radius: 8px;
  column-gap: 0.5rem;
  align-items: center;
  justify-content: center;
  padding-inline: 1.5rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  cursor: pointer;
  text-decoration: none;
  border: 1px solid #dddddd;
}

.topNavBtn_notSelected {
  background-color: #ffffff;
  color: #707070;
}

.topNavBtn_selected {
  background-color: #31bb6b;
  color: #ffffff;
}

.tabSection {
  display: flex;
  justify-content: space-between;
  margin-top: 0;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

.othertabSection {
  background-color: #ffffff;
  border-radius: 0 0 16px 16px;
  padding-inline: 1.5rem;
}
