.inputField {
  margin-top: var(--spacing-sm);
  margin-bottom: var(--spacing-sm);
  background-color: var(--eventManagement-button-bg);
  border: var(--border-width-sm) solid var(--input-shadow);
  box-shadow: var(--shadow-sm);
}

.previewVenueModal {
  display: flex;
  position: relative;
  width: 100%;
  overflow: hidden;
  /* Ensures content doesn't overflow the card */
  justify-content: center;
  border: var(--border-width-sm) solid var(--previewVenueModal-border);
}

.closeButtonP {
  position: absolute;
  top: 0px;
  right: 0px;
  width: var(--size-8);
  height: var(--size-8);
  background: transparent;
  transform: scale(1.2);
  cursor: pointer;
  border-radius: var(--radius-full);
  border: none;
  color: var(--closeButtonP-color);
  font-weight: var(--font-weight-semibold);
  font-size: var(--font-size-md);
  transition:
    background-color 0.3s,
    transform 0.3s;
}

.addButton {
  margin-bottom: var(--spacing-sm);
  color: var(--addButton-font);
  background-color: var(--light-blue);
  border-color: var(--addButton-bg);
  --bs-btn-focus-box-shadow: none;
}
