.inputField {
    background-color: var(--inputField-bg) !important;
    border-color: var(--inputField-border) !important;
    color: var(--inputField-text-color);
    font-size: 15px !important;
    width: 100% !important;
}

.inputField::placeholder {
    color: var(--inputField-placeholder-color); 
    font-size: 15px !important;
    opacity: 1 !important;
}

.inputField:focus {
    border-color: var(--inputField-border-focus) !important;
    box-shadow: none !important;
    background-color: var(--inputField-bg-focus) !important;
}

.previewVenueModal {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.closeButtonP {
    background-color: transparent;
    border: none;
    color: var(--closeButtonP-color);
    cursor: pointer;
    padding: 5px;
    border-radius: 50%;
}

.addButton {
    margin-bottom: 10px;
    color: var(--addButton-font);
    background-color: var(--light-blue);
    border-color: var(--addButton-bg);
    --bs-btn-focus-box-shadow: none;
}

.addButton:is(:hover, :active, :focus) {
    background-color: var(--addButton-bg-hover) !important;
    border-color: var(--addButton-border-hover);
}