.pageContainer {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: var(--space-5) var(--space-7) 0 var(--space-22);
}

.drawer {
  position: relative;
}

.titleFlex {
  flex: 1;
}

@keyframes moveLeft {
  from {
    transform: translateX(var(--space-11));
  }

  to {
    transform: translateX(0);
  }
}

@keyframes moveRight {
  from {
    transform: translateX(calc(-1 * var(--space-11)));
  }

  to {
    transform: translateX(0);
  }
}

.expand {
  margin-left: var(--space-13);
  padding-left: var(--space-11);
  animation: moveLeft 0.9s ease-in-out;
}

.contract {
  padding-left: var(--space-22);
  animation: moveRight 0.5s ease-in-out;
}

.opendrawer {
  --bs-btn-active-color: var(--color-gray-50);
  --bs-btn-active-bg: var(--color-gray-50);
  --bs-btn-active-border-color: var(--color-gray-50);
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  width: var(--space-7);
  height: 100vh;
  z-index: 9999;
  background-color: var(--color-gray-50);
  border: none;
  border-radius: var(--radius-none);
  margin-right: var(--space-6);
  color: var(--color-black);
}

.collapseSidebarButton:active,
.opendrawer:active {
  background-color: var(--color-gray-50);
}

.collapseSidebarButton {
  --bs-btn-active-color: var(--color-gray-50);
  --bs-btn-active-bg: var(--color-gray-50);
  --bs-btn-active-border-color: var(--color-gray-50);
  position: fixed;
  height: var(--space-9);
  bottom: var(--space-0);
  z-index: 9999;
  width: var(--space-19);
  background-color: var(--color-gray-50);
  color: var(--color-black);
  border: none;
  border-radius: var(--radius-none);
}

.collapseSidebarButton:hover,
.opendrawer:hover {
  opacity: 1;
  transition: background-color 0.5s ease;
  background-color: var(--color-gray-50);
  box-shadow:
    0 var(--shadow-offset-xs) var(--shadow-blur-sm) var(--shadow-spread-none)
      rgba(168, 199, 250, 1),
    0 var(--shadow-offset-md) var(--shadow-blur-lg) var(--shadow-spread-sm)
      rgba(60, 64, 67, 0.15);
  color: var(--color-black);
}

@media (max-height: 900px) {
  .collapseSidebarButton {
    height: var(--space-8);
    width: var(--space-21);
  }
}

@media (max-height: 650px) {
  .pageContainer {
    padding: var(--space-5) var(--space-7) 0 var(--space-19);
  }

  .collapseSidebarButton {
    width: var(--space-18);
    height: var(--space-6);
  }

  .opendrawer {
    width: var(--space-8);
  }
}

@media (max-width: 1120px) {
  .collapseSidebarButton {
    width: var(--space-19);
  }
}

@media (max-width: 820px) {
  .pageContainer {
    padding-left: var(--space-5);
  }

  .opendrawer {
    width: var(--space-7);
  }

  .contract,
  .expand {
    margin-left: 0;
    padding-left: 0;
    animation: none;
  }

  .collapseSidebarButton {
    width: 100%;
    left: 0;
    right: 0;
  }
}
