.titlemodal {
  color: #707070;
  font-weight: 600;
  font-size: 32px;
  width: 65%;
  margin-bottom: 0px;
}

.greenregbtn {
  margin: 1rem 0 0;
  margin-top: 10px;
  border: 1px solid #e8e5e5;
  box-shadow: 0 2px 2px #e8e5e5;
  padding: 10px 10px;
  border-radius: 5px;
  background-color: #31bb6b;
  width: 100%;
  font-size: 16px;
  color: white;
  outline: none;
  font-weight: 600;
  cursor: pointer;
  transition:
    transform 0.2s,
    box-shadow 0.2s;
  width: 100%;
}

.preview {
  display: flex;
  position: relative;
  width: 100%;
  margin-top: 10px;
  justify-content: center;
}
.preview img {
  width: 400px;
  height: auto;
}

.closeButtonP {
  position: absolute;
  top: 0px;
  right: 0px;
  background: transparent;
  transform: scale(1.2);
  cursor: pointer;
  border: none;
  color: #707070;
  font-weight: 600;
  font-size: 16px;
  cursor: pointer;
}
