.modalHeader {
  background-color: var(--tableHeader-bg);
}

.emailField {
  flex: 1;
}

.nameField {
  width: 220px;
  margin-left: 12px;
}

.removeButton {
  margin-left: 8px;
}

.addButton {
  margin-bottom: 10px;
  color: var(--addButton-font);
  background-color: var(--light-blue);
  border-color: var(--addButton-bg);
  --bs-btn-focus-box-shadow: none;
}
