#grid_wrapper {
  display: grid;
  align-items: center;
  gap: 4em;
  grid-template-columns: 1fr 1fr;
}
/* Animation */
.animated_content {
  display: flex;
  align-items: center;
  justify-content: center;
  animation: up-down 2s ease-in-out infinite alternate-reverse both;
}

.flex_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.page_content {
  margin-left: 5em;
  margin-top: 12em;
}
.page_content h3 {
  font-weight: bold;

  font-size: 2.5em;
}

.page_content h5 {
  font-weight: 20;
  font-size: 1.3em;
  margin: 0.5em 0;
  margin-bottom: 1.3em;
}
/* Sizes */
.animated_content img {
  height: 70vh;
  width: 70vh;
}

@-webkit-keyframes up-down {
  0% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(-10px);
  }
}
@keyframes up-down {
  0% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(-10px);
  }
}
