.card {
  width: fit-content;
}

.cardHeader {
  padding: 1.25rem 1rem 1rem 1rem;
  border-bottom: 1px solid var(--bs-gray-200);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cardHeader .cardTitle {
  font-size: 1.5rem;
}

.formLabel {
  font-weight: normal;
  padding-bottom: 0;
  font-size: 1rem;
  color: black;
}
.cardBody {
  min-height: 180px;
}

.cardBody .textBox {
  margin: 0 0 3rem 0;
  color: var(--bs-secondary);
}

.socialInput {
  height: 2.5rem;
}

@media (max-width: 520px) {
  .btn {
    flex-direction: column;
    justify-content: center;
  }
}
