.peopleTabComponent {
  background: var(--color-white);
  padding-top: var(--space-5);
  border-radius: var(--radius-xl);
  margin: var(--space-5);
}

.peopleTabNavbarButtonHeader {
  display: flex;
  flex-direction: row;
  gap: var(--space-5);
  margin-left: var(--space-11);
  margin-top: var(--space-8);
}

.peopleTabComponentSection {
  border-radius: var(--border-8);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: var(--space-5) var(--space-10);
}

.securitySection {
  width: 100%;
}
