.tagActionsScrollableDiv {
  height: var(--spacing-300);
  overflow: auto;
  list-style: none;
  padding: 0;
  margin: 0;
}

.cursorPointer {
  cursor: pointer;
}

.childFoldersScrollableDiv {
  max-height: var(--spacing-300);
  overflow: auto;
}
