.section {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.error {
  font-size: 1.2rem;
  font-weight: 500;
}

@media (min-width: 440px) and (max-width: 570px) {
  .section {
    margin-left: 50px;
  }
  .error {
    font-size: 1.1rem;
    font-style: oblique;
  }
}
