.visibilityOption {
  display: flex !important;
  align-items: flex-start;
  margin-bottom: var(--space-4);
}

.visibilityOption :global(.form-check-input) {
  margin-top: var(--space-4);
  margin-right: var(--space-9);
}

.visibilityOption :global(.form-check-label) {
  display: flex;
  flex-direction: column;
  margin-left: calc(-1 * var(--space-8));
}

.visibilityLabel {
  margin-left: var(--space-4);
}
