.login_background {
  /* background-color: #000; */
  min-height: 100vh;
}

.left_portion {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}
.palisadoes_logo {
  width: 600px;
}

.right_portion {
  height: 100vh;
  overflow-y: scroll;
  padding: 1rem 2rem;
  background: var(--bs-white);
}
.right_portion > .talawa_logo {
  height: 150px;
  display: block;
  margin: 0 auto;
}

.rightBtn {
  position: absolute;
  top: 0;
  right: 0;
}
