#grid_wrapper {
  align-items: center;
}

.form_wrapper {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 30%;
  padding: 40px 30px;
  background: #ffffff00;
  box-shadow: 2px 10px 10px 10px #acacac21;
  border-radius: 15px;
}

.form_wrapper form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.form_wrapper h3 {
  font-weight: bold;
  font-size: 2em;
  margin: 0em 0em 0em;
}

.form_wrapper h5 {
  font-size: 1em;
  margin: 0em 0em 1em;
}

.form_wrapper input {
  display: block;
  margin: 0.5em 0;
  border: 1px solid #9c9c9c;
  padding: 10px 20px;
  border-radius: 5px;
  background: none;
  width: 100%;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}

.form_wrapper input:focus {
  outline: none;
  border: solid 1px #febc59;
  box-shadow: 0 0 5px #febc598a;
}
.form_wrapper input[type='submit'] {
  border: none;
  width: 50%;
  background-color: #febc59;
}

/* Animation */
.animated_content {
  display: flex;
  align-items: center;
  justify-content: center;
  animation: up-down 2s ease-in-out infinite alternate-reverse both;
}

.animated_content img {
  height: 70vh;
  width: 70vh;
}

.loginbtn{
  margin: 1rem 0 0;
  background-color: #febc59;
  padding: 0.5em 1em;
  font-size: 16px;
  color: #000;
  outline: none;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.2s, box-shadow 0.2s;
  width:100%;
}

/* Screen sizes */
@media screen and (max-width: 1024px){
  .form_wrapper{
    left: 50%;
  }
}
@media screen and (max-width: 665px){
  .form_wrapper{
    min-width: 90%;
  }
}


@-webkit-keyframes up-down {
  0% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(-10px);
  }
}
@keyframes up-down {
  0% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(-10px);
  }
}
