/*Buttons*/
.btn {
    min-width: 100px;
    transition: background 200ms ease-in;
    @apply text-center font-medium;
    @apply bg-white text-blue-800 rounded-sm px-6 py-2 whitespace-nowrap;   
}

.btn-sm {
    max-width: 120px;
    @apply font-medium text-sm px-2 py-1;
}

.btn-lg {
    min-width: 180px;
}

.btn-primary {
    @apply bg-primary border-0 border-primary text-white;
}

.btn-primary:hover {
    background-color: #365ebd;
}

.btn-primary:active {
    background-color: #365ebd;
}

.btn-success {
    color: white;
    @apply bg-success;
}

.btn-success:hover {
    color: white;
    background: #34e2d1;
}

.btn-success:active {
    color: white;
    background: #26ada0;
}

.btn-error {
    color: white;
    @apply bg-error;
}

.btn-error:hover {
    @apply bg-red-600;
}

.btn-rounded {
     border-radius: 50px;
     @apply px-6 py-2 text-white;
 }

btn-primary:disabled,
{
  background-color: #b89ff3;
  @apply text-white;
}

button[disabled] {
    opacity: 0.3;
}

.btn-outline {
    @apply border-2 border-blue-900 text-blue-900;
}

.btn-outline-primary {
    border: 2px solid #3d71e3;
    color: #3d71e3;
    @apply bg-transparent ;
}
