.input{
    transition: border-color 200ms cubic-bezier(0.6, -0.28, 0.735, 0.045);
    @apply border-2 border-space font-sans px-4;
    @apply py-2 mt-2 mb-1 rounded-sm text-headings;
}


.input:focus{
    outline: none;
    border: 2px solid #4B7BEC;
    @apply text-gray-800;
}

.input-error, .input-error:focus {
    border: 1px solid #FC5C65;
    @apply text-error;
}


.search-input {
    padding-left: 40px;
    background-position-x: 10px;
    background-position-y: center;
    background-repeat: no-repeat;
    background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyMC40MTQiIGhlaWdodD0iMjAuNDE0IiB2aWV3Qm94PSIwIDAgMjAuNDE0IDIwLjQxNCI+CiAgPGcgaWQ9Ikdyb3VwXzQ1IiBkYXRhLW5hbWU9Ikdyb3VwIDQ1IiB0cmFuc2Zvcm09InRyYW5zbGF0ZSgtMTc1NCAtMTAwMSkiPgogICAgPGNpcmNsZSBpZD0iRWxsaXBzZV84NSIgZGF0YS1uYW1lPSJFbGxpcHNlIDg1IiBjeD0iOCIgY3k9IjgiIHI9IjgiIHRyYW5zZm9ybT0idHJhbnNsYXRlKDE3NTUgMTAwMikiIHN0cm9rZS13aWR0aD0iMiIgc3Ryb2tlPSIjN0Q4MDg4IiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiIGZpbGw9Im5vbmUiLz4KICAgIDxsaW5lIGlkPSJMaW5lXzI5MSIgZGF0YS1uYW1lPSJMaW5lIDI5MSIgeDE9IjQuMzUiIHkxPSI0LjM1IiB0cmFuc2Zvcm09InRyYW5zbGF0ZSgxNzY4LjY1IDEwMTUuNjUpIiBmaWxsPSJub25lIiBzdHJva2U9IiM3RDgwODgiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIgc3Ryb2tlLXdpZHRoPSIyIi8+CiAgPC9nPgo8L3N2Zz4K');

  }
.form-error {
    @apply font-sans font-medium text-xs text-error;
}