.pledgeContainer {
  margin: 0.6rem 0;
}

.createPledgeBtn {
  position: absolute;
  top: 1.3rem;
  right: 2rem;
}
.container {
  min-height: 100vh;
}

.pledgeModal {
  max-width: 80vw;
  margin-top: 2vh;
  margin-left: 13vw;
}
.titlemodal {
  color: var(--bs-gray-600);
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 20px;
  padding-bottom: 5px;
  border-bottom: 3px solid var(--bs-primary);
  width: 65%;
}
.greenregbtn {
  margin: 1rem 0 0;
  margin-top: 15px;
  border: 1px solid #e8e5e5;
  box-shadow: 0 2px 2px #e8e5e5;
  padding: 10px 10px;
  border-radius: 5px;
  background-color: #31bb6b;
  width: 100%;
  font-size: 16px;
  color: white;
  outline: none;
  font-weight: 600;
  cursor: pointer;
  transition:
    transform 0.2s,
    box-shadow 0.2s;
  width: 100%;
}
.message {
  margin-top: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
