.form {
  display: flex;
  flex-direction: column;
  gap: var(--space-6);
}

.regBtn {
  margin-top: var(--space-5);
  border: var(--border-1) solid var(--regBtn-border);
  box-shadow: var(--shadow-offset-none) var(--shadow-offset-sm)
    var(--shadow-blur-sm) var(--regBtn-box-shadow);
  padding: var(--space-5) var(--space-5);
  border-radius: var(--radius-sm);
  background-color: var(--regBtn-bg);
  width: 100%;
  font-size: var(--font-size-md);
  color: var(--regBtn-color);
  outline: none;
  font-weight: var(--font-weight-semibold);
  cursor: pointer;
  transition:
    transform 0.2s,
    box-shadow 0.2s;
}

.regBtn:focus-visible {
  outline: var(--border-1) solid var(--color-blue-300);
  outline-offset: var(--space-1);
}
