.alignimg {
  border-radius: 50%;
  background-blend-mode: darken;
  height: 65px;
  width: 65px;
}

.box {
  color: #ffbd59;
}

.box :hover {
  color: #ffbd59;
}
.first_box {
  display: flex;
  flex-direction: row;
  padding-bottom: 10px;
  padding-top: 10px;
}

.second_box {
  padding-left: 20px;
  padding-top: 10px;
}

.second_box > h4 {
  font-size: 10;
  font-weight: bold;
  text-decoration: none;
  color: black;
}

.second_box > h5 {
  text-decoration: none;
  font-size: 10;
  font-weight: 100;
  color: #969696;
}

.deco {
  border: 1px solid #dfdfdf;
  width: 65vw;
  height: 0px !important;
}
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #dfdfdf;
  border-radius: 10px;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #ffbd59;
  border-radius: 10px;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #ffbd59;
}
