@media screen and (max-width: 575.5px) {
  .mainpageright {
    width: 98%;
  }
}
.modalContent {
  width: 670px;
  max-width: 680px;
}
.dropdown {
  background-color: white;
  border: 1px solid #31bb6b;
  position: relative;
  display: inline-block;
  margin-top: 10px;
  margin-bottom: 10px;
  color: #31bb6b;
}
.input {
  flex: 1;
  position: relative;
}

.btnsContainer {
  display: flex;
  margin: 2.5rem 0 2.5rem 0;
}

.btnsContainer .btnsBlock {
  display: flex;
}

.btnsContainer .btnsBlock button {
  margin-left: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btnsContainer .input {
  flex: 1;
  position: relative;
}

input {
  outline: 1px solid var(--bs-gray-400);
}

.btnsContainer .input button {
  width: 52px;
}

.inputField {
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: white;
  box-shadow: 0 1px 1px #31bb6b;
}
.inputFieldModal {
  margin-bottom: 10px;
  background-color: white;
  box-shadow: 0 1px 1px #31bb6b;
}
.inputField > button {
  padding-top: 10px;
  padding-bottom: 10px;
}
.TableImage {
  object-fit: cover;
  width: 50px !important;
  height: 50px !important;
  border-radius: 100% !important;
}
.tableHead {
  background-color: #31bb6b !important;
  color: white;
  border-radius: 20px !important;
  padding: 20px;
  margin-top: 20px;
}

.tableHead :nth-first-child() {
  border-top-left-radius: 20px;
}

.mainpageright > hr {
  margin-top: 10px;
  width: 100%;
  margin-left: -15px;
  margin-right: -15px;
  margin-bottom: 20px;
}
.rowBackground {
  background-color: var(--bs-white);
}
.tableHeader {
  background-color: var(--bs-primary);
  color: var(--bs-white);
  font-size: 16px;
}

@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
