.people {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 600;
  font-family: inherit;
}
.textinput {
  align-self: stretch;
  /* width: 608.5px; */
  height: 64px;
  padding: var(--padding-smi) var(--padding-base) var(--padding-xs)
    var(--padding-mini);
  border-radius: var(--br-5xs);
  background-color: var(--color-gray-100);
  box-shadow: 5px 5px 4px rgba(49, 187, 107, 0.12);
  border: 1px solid var(--color-gainsboro-200);
  box-sizing: border-box;
  /* display: none; */
  max-width: 100%;
}
.searchPeople {
  position: relative;
  white-space: nowrap;
  z-index: 1;
}
.joinedon,
.searchIconBtnChild {
  border-radius: var(--br-5xs);
  height: 55px;
}
.searchIconBtnChild {
  width: 59.3px;
  position: relative;
  background-color: var(--color-mediumseagreen-100);
  display: none;
}
.joinedon {
  position: absolute;
  top: -54px;
  left: -93px;
  background-color: #d9d9d9;
  width: 58px;
}
.rectangleIcon {
  position: absolute;
  top: 3.8px;
  left: 3.6px;
  width: 21.4px;
  height: 22px;
}
.materialSymbolssearchRounde {
  height: 30px;
  width: 29.2px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 1;
}
.searchBox1,
.searchIconBtn {
  position: relative;
  border-radius: var(--br-5xs);
  display: flex;
  flex-direction: row;
  align-items: center;
}
.searchIconBtn {
  position: absolute;
  right: 5px;
  cursor: pointer;
  border: 0;
  padding: var(--padding-smi) var(--padding-base) var(--padding-xs)
    var(--padding-mini);
  background-color: var(--color-mediumseagreen-100);
  justify-content: center;
  z-index: 1;
}
.searchBox1 {
  align-self: stretch;
  background-color: var(--color-gray-100);
  box-shadow: 5px 5px 4px rgba(49, 187, 107, 0.12);
  border: 1px solid var(--color-gainsboro-200);
  justify-content: space-between;
  /* padding: 0 2px 0 var(--padding-lgi); */
  max-width: 100%;
}
.filterBtn,
.searchBox1,
.sortBtn {
  box-sizing: border-box;
}
.sortBtn {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-3xs) 0 0;
  max-width: 100%;
}
.filterBtn {
  height: 55px;
  width: 250px;
  position: absolute;
  border-radius: var(--br-5xs);
  background-color: var(--color-gray-100);
  box-shadow: 5px 5px 4px rgba(49, 187, 107, 0.12);
  border: 1px solid var(--color-mediumseagreen-100);
  display: none;
  z-index: 100;
}
.ionoptionsOutlineIcon {
  height: 32px;
  width: 32px;
  position: absolute;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 2;
}
.sortBySearchP {
  position: relative;
}
.sortBtn1 {
  height: 64px;
  position: relative;
  cursor: pointer;
  border: 1px solid var(--color-mediumseagreen-100);
  padding: var(--padding-xs) var(--padding-13xl) var(--padding-2xs)
    var(--padding-lg);
  background-color: var(--color-gray-100);
  border-radius: var(--br-5xs);
  box-shadow: 5px 5px 4px rgba(49, 187, 107, 0.12);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 21px;
  white-space: nowrap;
  width: fit-content;
  font-size: var(--font-size-base);
  font-weight: 600;
  font-family: var(--font-lato);
  color: var(--color-mediumseagreen-100);
  text-align: left;
}
.filterBtn1,
.sortBtn1:hover,
.sortBtn2:hover {
  background-color: var(--color-gainsboro-100);
  border: 1px solid var(--color-mediumseagreen-200);
  box-sizing: border-box;
}
.sortBtn1:focus-visible,
.sortBtn2:focus-visible {
  width: fit-content;
  font-size: var(--font-size-base);
  font-weight: 600;
  font-family: var(--font-lato);
  color: var(--color-mediumseagreen-100);
  text-align: left;
}
.filterBtn1 {
  height: 55px;
  width: 145px;
  position: absolute;
  z-index: 10;
  border-radius: var(--br-5xs);
  background-color: var(--color-gray-100);
  box-shadow: 5px 5px 4px rgba(49, 187, 107, 0.12);
  border: 1px solid var(--color-mediumseagreen-100);
  display: none;
}
.actions {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-base);
  font-weight: 600;
  font-family: var(--font-lato);
  color: var(--color-mediumseagreen-100);
  text-align: left;
  display: flex;
  align-items: center;
  z-index: 1;
}
.searchBox,
.sortBtn2 {
  display: flex;
  flex-direction: row;
}
.sortBtn2 {
  cursor: pointer;
  border: 1px solid var(--color-mediumseagreen-100);
  padding: var(--padding-3xl) 48px var(--padding-2xl) 43px;
  background-color: var(--color-gray-100);
  height: 55px;
  border-radius: var(--br-5xs);
  box-shadow: 5px 5px 4px rgba(49, 187, 107, 0.12);
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}
.searchBox {
  align-self: stretch;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-mini);
  max-width: 100%;
}
.tableHeaderChild {
  height: 56px;
  width: 758px;
  position: relative;
  border-radius: var(--br-5xs) var(--br-5xs) 0 0;
  background-color: var(--color-mediumseagreen-100);
  display: none;
  max-width: 100%;
}
.mdiusersaddoutline,
.profile {
  position: relative;
  font-weight: 600;
  z-index: 1;
}
.profile {
  flex: 1;
}
.mdiusersaddoutline1 {
  height: 12px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-3xs) 0 0;
  box-sizing: border-box;
}
.name {
  flex: 1;
  position: relative;
  font-weight: 600;
  z-index: 1;
}
.mdiusersaddoutline2 {
  height: 12px;
  width: 110px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.email {
  flex: 1;
  position: relative;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}
.mdiusersaddoutline3 {
  height: 12px;
  width: 149px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.joinedOn {
  position: relative;
  font-weight: 600;
  white-space: nowrap;
  z-index: 1;
}
.tableHeader {
  align-self: stretch;
  height: 56px;
  border-radius: var(--br-5xs) var(--br-5xs) 0 0;
  background-color: var(--color-mediumseagreen-100);
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  padding: var(--padding-4xl) 57px var(--padding-lgi) var(--padding-lg);
  box-sizing: border-box;
  gap: var(--gap-xl);
  max-width: 100%;
  z-index: 1;
}
.frame,
.tableBg {
  position: relative;
}
.tableBg {
  height: 729px;
  width: 758px;
  background-color: var(--color-white);
  display: none;
  max-width: 100%;
}
.frame {
  width: 22.4px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
.memberData {
  height: 42px;
  width: 47px;
  position: relative;
  border-radius: var(--br-7xl);
  background-color: var(--color-mediumseagreen-400);
}
.tableHeader1 {
  width: 146px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 var(--padding-5xs) 0 0;
  box-sizing: border-box;
  gap: var(--gap-xl);
}
.johnDoe,
.johndoeexamplecom {
  position: relative;
  white-space: nowrap;
}
.johndoeexamplecom {
  align-self: stretch;
}
.listItem,
.rectangle {
  display: flex;
  justify-content: flex-start;
}
.rectangle {
  width: 186px;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 0 var(--padding-7xs);
  box-sizing: border-box;
}
.listItem {
  flex: 1;
  flex-direction: row;
  align-items: center;
  gap: var(--gap-43xl);
  max-width: 100%;
}
.thMay2023 {
  align-self: stretch;
  position: relative;
  white-space: nowrap;
}
.johndoeexamplecom1,
.listItem1 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
}
.johndoeexamplecom1 {
  width: 159px;
  flex-direction: column;
  padding: var(--padding-8xs) 0 0;
}
.listItem1 {
  align-self: stretch;
  flex-direction: row;
  padding: 0 var(--padding-12xs) 0 0;
  gap: var(--gap-43xl);
  max-width: 100%;
}
.div {
  width: 22.4px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
.frameChild {
  height: 42px;
  width: 47px;
  position: relative;
  border-radius: var(--br-7xl);
  background-color: var(--color-mediumseagreen-400);
}
.parent {
  width: 145px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 var(--padding-5xs) 0 0;
  box-sizing: border-box;
  gap: var(--gap-xl);
}
.johnDoe1,
.johndoeexamplecom2 {
  position: relative;
  white-space: nowrap;
}
.johndoeexamplecom2 {
  align-self: stretch;
}
.johndoeexamplecomWrapper {
  width: 186px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 var(--padding-7xs);
  box-sizing: border-box;
}
.frameParent {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-37xl);
  max-width: 100%;
}
.thMay20231 {
  align-self: stretch;
  position: relative;
  white-space: nowrap;
}
.listItem2,
.thMay2023Wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
}
.thMay2023Wrapper {
  width: 159px;
  flex-direction: column;
  padding: var(--padding-8xs) 0 0;
}
.listItem2 {
  align-self: stretch;
  flex-direction: row;
  padding: 0 var(--padding-12xs) 0 0;
  gap: var(--gap-43xl);
  max-width: 100%;
}
.div1 {
  width: 22.4px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
.frameItem {
  height: 42px;
  width: 47px;
  position: relative;
  border-radius: var(--br-7xl);
  background-color: var(--color-mediumseagreen-400);
}
.group {
  width: 145px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 var(--padding-5xs) 0 0;
  box-sizing: border-box;
  gap: var(--gap-xl);
}
.johnDoe2,
.johndoeexamplecom3 {
  position: relative;
  white-space: nowrap;
}
.johndoeexamplecom3 {
  align-self: stretch;
}
.johndoeexamplecomContainer {
  width: 186px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 var(--padding-7xs);
  box-sizing: border-box;
}
.frameGroup {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-37xl);
  max-width: 100%;
}
.thMay20232 {
  align-self: stretch;
  position: relative;
  white-space: nowrap;
}
.listItem3,
.thMay2023Container {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
}
.thMay2023Container {
  width: 159px;
  flex-direction: column;
  padding: var(--padding-8xs) 0 0;
}
.listItem3 {
  align-self: stretch;
  flex-direction: row;
  padding: 0 var(--padding-12xs) 0 0;
  gap: var(--gap-43xl);
  max-width: 100%;
}
.div2 {
  width: 22.4px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
.frameInner {
  height: 42px;
  width: 47px;
  position: relative;
  border-radius: var(--br-7xl);
  background-color: var(--color-mediumseagreen-400);
}
.container {
  width: 143px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 var(--padding-6xs) 0 0;
  box-sizing: border-box;
  gap: var(--gap-xl);
}
.johnDoe3,
.johndoeexamplecom4 {
  position: relative;
  white-space: nowrap;
}
.johndoeexamplecom4 {
  align-self: stretch;
}
.johndoeexamplecomFrame {
  width: 186px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 var(--padding-7xs);
  box-sizing: border-box;
}
.frameContainer {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-38xl);
  max-width: 100%;
}
.thMay20233 {
  align-self: stretch;
  position: relative;
  white-space: nowrap;
}
.listItem4,
.thMay2023Frame {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.thMay2023Frame {
  width: 159px;
  flex-direction: column;
  padding: var(--padding-8xs) 0 0;
  box-sizing: border-box;
}
.listItem4 {
  align-self: stretch;
  flex-direction: row;
  gap: var(--gap-43xl);
  max-width: 100%;
}
.div3 {
  width: 22.4px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
.rectangleDiv {
  height: 42px;
  width: 47px;
  position: relative;
  border-radius: var(--br-7xl);
  background-color: var(--color-mediumseagreen-400);
}
.parent1 {
  width: 147px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 var(--padding-7xs) 0 0;
  box-sizing: border-box;
  gap: var(--gap-xl);
}
.johnDoe4,
.johndoeexamplecom5 {
  position: relative;
  white-space: nowrap;
}
.johndoeexamplecom5 {
  align-self: stretch;
}
.frameDiv,
.johndoeexamplecomWrapper1 {
  display: flex;
  justify-content: flex-start;
  box-sizing: border-box;
}
.johndoeexamplecomWrapper1 {
  width: 185px;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 0 var(--padding-7xs);
}
.frameDiv {
  flex: 1;
  flex-direction: row;
  align-items: center;
  padding: 0 var(--padding-12xs) 0 0;
  gap: var(--gap-38xl);
  max-width: 100%;
}
.thMay20234 {
  align-self: stretch;
  position: relative;
  white-space: nowrap;
}
.listItem5,
.thMay2023Wrapper1 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.thMay2023Wrapper1 {
  width: 159px;
  flex-direction: column;
  padding: var(--padding-8xs) 0 0;
  box-sizing: border-box;
}
.listItem5 {
  align-self: stretch;
  flex-direction: row;
  gap: var(--gap-43xl);
  max-width: 100%;
}
.div4 {
  width: 22.4px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
.frameChild1 {
  height: 42px;
  width: 47px;
  position: relative;
  border-radius: var(--br-7xl);
  background-color: var(--color-mediumseagreen-400);
}
.parent2 {
  width: 147px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 var(--padding-6xs) 0 0;
  box-sizing: border-box;
  gap: var(--gap-xl);
}
.johnDoe5,
.johndoeexamplecom6 {
  position: relative;
  white-space: nowrap;
}
.johndoeexamplecom6 {
  align-self: stretch;
}
.frameParent1,
.johndoeexamplecomWrapper2 {
  display: flex;
  justify-content: flex-start;
  box-sizing: border-box;
}
.johndoeexamplecomWrapper2 {
  width: 186px;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 0 var(--padding-7xs);
}
.frameParent1 {
  flex: 1;
  flex-direction: row;
  align-items: center;
  padding: 0 var(--padding-12xs) 0 0;
  gap: var(--gap-37xl);
  max-width: 100%;
}
.thMay20235 {
  align-self: stretch;
  position: relative;
  white-space: nowrap;
}
.listItem7,
.thMay2023Wrapper2 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.thMay2023Wrapper2 {
  width: 159px;
  flex-direction: column;
  padding: var(--padding-8xs) 0 0;
  box-sizing: border-box;
}
.listItem7 {
  align-self: stretch;
  flex-direction: row;
  gap: var(--gap-43xl);
  max-width: 100%;
}
.div5 {
  width: 22.4px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
.frameChild2 {
  height: 42px;
  width: 47px;
  position: relative;
  border-radius: var(--br-7xl);
  background-color: var(--color-mediumseagreen-400);
}
.parent3 {
  width: 147px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 var(--padding-6xs) 0 0;
  box-sizing: border-box;
  gap: var(--gap-xl);
}
.johnDoe6,
.johndoeexamplecom7 {
  position: relative;
  white-space: nowrap;
}
.johndoeexamplecom7 {
  align-self: stretch;
}
.frameParent2,
.johndoeexamplecomWrapper3 {
  display: flex;
  justify-content: flex-start;
  box-sizing: border-box;
}
.johndoeexamplecomWrapper3 {
  width: 186px;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 0 var(--padding-7xs);
}
.frameParent2 {
  flex: 1;
  flex-direction: row;
  align-items: center;
  padding: 0 var(--padding-12xs) 0 0;
  gap: var(--gap-37xl);
  max-width: 100%;
}
.thMay20236 {
  align-self: stretch;
  position: relative;
  white-space: nowrap;
}
.listItem6,
.thMay2023Wrapper3 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.thMay2023Wrapper3 {
  width: 159px;
  flex-direction: column;
  padding: var(--padding-8xs) 0 0;
  box-sizing: border-box;
}
.listItem6 {
  align-self: stretch;
  flex-direction: row;
  gap: var(--gap-43xl);
  max-width: 100%;
}
.div6 {
  width: 22.4px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
.frameChild3 {
  height: 42px;
  width: 47px;
  position: relative;
  border-radius: var(--br-7xl);
  background-color: var(--color-mediumseagreen-400);
}
.parent4 {
  width: 146px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 var(--padding-5xs) 0 0;
  box-sizing: border-box;
  gap: var(--gap-xl);
}
.johnDoe7,
.johndoeexamplecom8 {
  position: relative;
  white-space: nowrap;
}
.johndoeexamplecom8 {
  align-self: stretch;
}
.johndoeexamplecomWrapper4 {
  width: 186px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 var(--padding-7xs);
  box-sizing: border-box;
}
.frameParent3 {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-37xl);
  max-width: 100%;
}
.thMay20237 {
  align-self: stretch;
  position: relative;
  white-space: nowrap;
}
.listItem8,
.thMay2023Wrapper4 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
}
.thMay2023Wrapper4 {
  width: 159px;
  flex-direction: column;
  padding: var(--padding-8xs) 0 0;
}
.listItem8 {
  align-self: stretch;
  flex-direction: row;
  padding: 0 var(--padding-12xs) 0 0;
  gap: var(--gap-43xl);
  max-width: 100%;
}
.div7 {
  width: 22.4px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
.frameChild4 {
  height: 42px;
  width: 47px;
  position: relative;
  border-radius: var(--br-7xl);
  background-color: var(--color-mediumseagreen-400);
}
.parent5 {
  width: 149px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 var(--padding-6xs) 0 0;
  box-sizing: border-box;
  gap: var(--gap-xl);
}
.johnDoe8,
.johndoeexamplecom9 {
  position: relative;
  white-space: nowrap;
}
.johndoeexamplecom9 {
  align-self: stretch;
}
.johndoeexamplecomWrapper5 {
  width: 185px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 var(--padding-7xs);
  box-sizing: border-box;
}
.frameParent4 {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-38xl);
  max-width: 100%;
}
.thMay20238 {
  align-self: stretch;
  position: relative;
  white-space: nowrap;
}
.listItem9,
.thMay2023Wrapper5 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
}
.thMay2023Wrapper5 {
  width: 160px;
  flex-direction: column;
  padding: var(--padding-8xs) 0 0;
}
.listItem9 {
  align-self: stretch;
  flex-direction: row;
  padding: 0;
  gap: var(--gap-43xl);
  max-width: 100%;
}
.div8 {
  width: 22.4px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
.frameChild5 {
  height: 42px;
  width: 47px;
  position: relative;
  border-radius: var(--br-7xl);
  background-color: var(--color-mediumseagreen-400);
}
.parent6 {
  width: 147px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 var(--padding-7xs) 0 0;
  box-sizing: border-box;
  gap: var(--gap-xl);
}
.johnDoe9,
.johndoeexamplecom10 {
  position: relative;
  white-space: nowrap;
}
.johndoeexamplecom10 {
  align-self: stretch;
}
.frameParent5,
.johndoeexamplecomWrapper6 {
  display: flex;
  justify-content: flex-start;
  box-sizing: border-box;
}
.johndoeexamplecomWrapper6 {
  width: 185px;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 0 var(--padding-7xs);
}
.frameParent5 {
  flex: 1;
  flex-direction: row;
  align-items: center;
  padding: 0 var(--padding-12xs) 0 0;
  gap: var(--gap-38xl);
  max-width: 100%;
}
.thMay20239 {
  align-self: stretch;
  position: relative;
  white-space: nowrap;
}
.listItem11,
.thMay2023Wrapper6 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.thMay2023Wrapper6 {
  width: 159px;
  flex-direction: column;
  padding: var(--padding-8xs) 0 0;
  box-sizing: border-box;
}
.listItem11 {
  align-self: stretch;
  flex-direction: row;
  gap: var(--gap-43xl);
  max-width: 100%;
}
.div9 {
  width: 22.4px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
.frameChild6 {
  height: 42px;
  width: 47px;
  position: relative;
  border-radius: var(--br-7xl);
  background-color: var(--color-mediumseagreen-400);
}
.parent7 {
  width: 147px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 var(--padding-7xs) 0 0;
  box-sizing: border-box;
  gap: var(--gap-xl);
}
.johnDoe10,
.johndoeexamplecom11 {
  position: relative;
  white-space: nowrap;
}
.johndoeexamplecom11 {
  align-self: stretch;
}
.frameParent6,
.johndoeexamplecomWrapper7 {
  display: flex;
  justify-content: flex-start;
  box-sizing: border-box;
}
.johndoeexamplecomWrapper7 {
  width: 185px;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 0 var(--padding-7xs);
}
.frameParent6 {
  flex: 1;
  flex-direction: row;
  align-items: center;
  padding: 0 var(--padding-12xs) 0 0;
  gap: var(--gap-38xl);
  max-width: 100%;
}
.thMay202310 {
  align-self: stretch;
  position: relative;
  white-space: nowrap;
}
.listItem10,
.thMay2023Wrapper7 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.thMay2023Wrapper7 {
  width: 159px;
  flex-direction: column;
  padding: var(--padding-8xs) 0 0;
  box-sizing: border-box;
}
.listItem10 {
  align-self: stretch;
  flex-direction: row;
  gap: var(--gap-43xl);
  max-width: 100%;
}
.div10 {
  width: 22.4px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
.frameChild7 {
  height: 42px;
  width: 47px;
  position: relative;
  border-radius: var(--br-7xl);
  background-color: var(--color-mediumseagreen-400);
}
.parent8 {
  width: 147px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 var(--padding-6xs) 0 0;
  box-sizing: border-box;
  gap: var(--gap-xl);
}
.johnDoe11,
.johndoeexamplecom12 {
  position: relative;
  white-space: nowrap;
}
.johndoeexamplecom12 {
  align-self: stretch;
}
.frameParent7,
.johndoeexamplecomWrapper8 {
  display: flex;
  justify-content: flex-start;
  box-sizing: border-box;
}
.johndoeexamplecomWrapper8 {
  width: 186px;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 0 var(--padding-7xs);
}
.frameParent7 {
  flex: 1;
  flex-direction: row;
  align-items: center;
  padding: 0 var(--padding-12xs) 0 0;
  gap: var(--gap-37xl);
  max-width: 100%;
}
.thMay202311 {
  align-self: stretch;
  position: relative;
  white-space: nowrap;
}
.listItem12,
.thMay2023Wrapper8 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.thMay2023Wrapper8 {
  width: 159px;
  flex-direction: column;
  padding: var(--padding-8xs) 0 0;
  box-sizing: border-box;
}
.listItem12 {
  align-self: stretch;
  flex-direction: row;
  gap: var(--gap-43xl);
  max-width: 100%;
}
.lists,
.mdiuserminusoutline {
  display: flex;
  box-sizing: border-box;
  max-width: 100%;
}
.lists {
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-12xs) 0 0;
  gap: var(--gap-lg);
  z-index: 1;
}
.mdiuserminusoutline {
  align-self: stretch;
  background-color: var(--color-white);
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
  padding: var(--padding-4xl) var(--padding-smi) 4px var(--padding-3xs);
  margin-top: -7px;
  font-size: var(--font-size-sm);
  color: var(--color-black);
}
.removeadmins,
.sendemails {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.removeadmins {
  /* align-self: stretch; */
}
.sendemails {
  flex: 1;
  padding: 36px 0 0;
  box-sizing: border-box;
}
.actionsSectionChild {
  width: 214px;
  position: relative;
  border-radius: var(--br-5xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-gray-400);
  box-sizing: border-box;
  height: 257px;
  display: none;
}
.frameChild8 {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-7xs);
  background-color: var(--color-gray-300);
}
.mdiusersAddOutlineIcon {
  height: 24px;
  width: 24.9px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 1;
}
.addAdmins {
  flex: 1;
  position: relative;
  font-size: var(--font-size-sm);
  font-family: var(--font-lato);
  color: var(--color-mediumseagreen-100);
  text-align: left;
  z-index: 1;
}
.rectangleParent {
  cursor: pointer;
  border: 0;
  padding: var(--padding-4xs) 56px var(--padding-4xs) var(--padding-base);
  background-color: transparent;
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  gap: 11px;
  white-space: nowrap;
  z-index: 1;
}
.frameChild9 {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-7xs);
  background-color: var(--color-gray-300);
}
.lucidemailsIcon {
  height: 24px;
  width: 24.9px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 1;
}
.sendEmails {
  flex: 1;
  position: relative;
  font-size: var(--font-size-sm);
  font-family: var(--font-lato);
  color: var(--color-mediumseagreen-100);
  text-align: left;
  z-index: 1;
}
.rectangleGroup {
  cursor: pointer;
  border: 0;
  padding: var(--padding-4xs) var(--padding-base);
  background-color: transparent;
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  gap: 8px;
  white-space: nowrap;
  z-index: 1;
}
.frameChild10 {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-7xs);
  background-color: var(--color-gray-300);
}
.mdiuserMinusOutlineIcon {
  height: 24px;
  width: 24.9px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 1;
}
.removeAdmins {
  flex: 1;
  position: relative;
  font-size: var(--font-size-sm);
  font-family: var(--font-lato);
  color: var(--color-crimson);
  text-align: left;
  z-index: 1;
}
.rectangleContainer {
  cursor: pointer;
  border: 0;
  padding: var(--padding-4xs) 2var (--padding-4xs) 9px var(--padding-base);
  background-color: transparent;
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  gap: var(--gap-3xs);
  white-space: nowrap;
  z-index: 1;
}
.frameChild11 {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-7xs);
  background-color: var(--color-gray-300);
}
.mdiuserRemoveOutlineIcon {
  height: 24px;
  width: 21.6px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 1;
}
.removeMembers {
  flex: 1;
  position: relative;
  font-size: var(--font-size-sm);
  font-family: var(--font-lato);
  color: var(--color-crimson);
  text-align: left;
  z-index: 1;
}
.groupButton {
  cursor: pointer;
  border: 0;
  padding: var(--padding-4xs) var(--padding-18xl) var(--padding-4xs)
    var(--padding-sm);
  background-color: transparent;
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  gap: 9px;
  white-space: nowrap;
  z-index: 1;
}
.actionsSection,
.addadminsGroup {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.actionsSection {
  width: 214px;
  border-radius: var(--br-5xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-gray-400);
  box-sizing: border-box;
  flex-direction: column;
  padding: var(--padding-xl) var(--padding-smi) var(--padding-2xl)
    var(--padding-7xs);
  gap: var(--gap-base);
}
.addadminsGroup {
  width: 974px;
  flex-direction: row;
  gap: 1px;
  max-width: 100%;
  text-align: center;
  color: var(--color-white);
  font-family: var(--font-lato);
}
.pO {
  align-self: stretch;
  flex-direction: column;
  gap: 4px;
  max-width: 100%;
  font-size: var(--font-size-base);
  color: var(--color-dimgray-100);
  font-family: var(--font-inter);
}
.organizationPeople,
.organizationSection,
.pO,
.peopleFrame {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.organizationSection {
  align-self: stretch;
  flex-direction: column;
  gap: 51px;
  max-width: 100%;
  text-align: left;
  font-size: 40px;
  color: var(--color-black);
  font-family: var(--font-lato);
}
.organizationPeople,
.peopleFrame {
  box-sizing: border-box;
}
.peopleFrame {
  flex: 1;
  flex-direction: column;
  padding: 42px 0 0;
  min-width: 679px;
  max-width: 100%;
}
.organizationPeople {
  width: 100%;
  position: relative;
  background-color: #f1f3f6;
  overflow: hidden;
  flex-direction: row;
  padding: 0 var(--padding-13xl) 0 0;
  gap: 19px;
  letter-spacing: normal;
}
@media screen and (max-width: 1125px) {
  .organizationPeople {
    flex-wrap: wrap;
    padding: var(--padding-xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 1050px) {
  .tableHeader {
    padding-right: 28px;
    box-sizing: border-box;
  }
  .peopleFrame {
    padding-top: 27px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 750px) {
  .listItem {
    gap: var(--gap-9xl);
  }
  .listItem1 {
    gap: var(--gap-12xl);
  }
  .frameParent {
    gap: var(--gap-9xl);
  }
  .listItem2 {
    gap: var(--gap-12xl);
  }
  .frameGroup {
    gap: var(--gap-9xl);
  }
  .listItem3 {
    gap: var(--gap-12xl);
  }
  .frameContainer {
    gap: var(--gap-9xl);
  }
  .listItem4 {
    gap: var(--gap-12xl);
  }
  .frameDiv {
    gap: var(--gap-9xl);
  }
  .listItem5 {
    gap: var(--gap-12xl);
  }
  .frameParent1 {
    gap: var(--gap-9xl);
  }
  .listItem7 {
    gap: var(--gap-12xl);
  }
  .frameParent2 {
    gap: var(--gap-9xl);
  }
  .listItem6 {
    gap: var(--gap-12xl);
  }
  .frameParent3 {
    gap: var(--gap-9xl);
  }
  .listItem8 {
    gap: var(--gap-12xl);
  }
  .frameParent4 {
    gap: var(--gap-9xl);
  }
  .listItem9 {
    gap: var(--gap-12xl);
  }
  .frameParent5 {
    gap: var(--gap-9xl);
  }
  .listItem11 {
    gap: var(--gap-12xl);
  }
  .frameParent6 {
    gap: var(--gap-9xl);
  }
  .listItem10 {
    gap: var(--gap-12xl);
  }
  .frameParent7 {
    gap: var(--gap-9xl);
  }
  .listItem12 {
    gap: var(--gap-12xl);
  }
  .organizationSection {
    gap: 25px;
  }
  .peopleFrame {
    padding-top: var(--padding-xl);
    box-sizing: border-box;
    min-width: 100%;
  }
}
@media screen and (max-width: 450px) {
  .listItem1,
  .listItem10,
  .listItem11,
  .listItem12,
  .listItem2,
  .listItem3,
  .listItem4,
  .listItem5,
  .listItem6,
  .listItem7,
  .listItem8,
  .listItem9 {
    gap: var(--gap-mini);
  }
}
