button .iconWrapper {
  width: 32px;
  padding-right: 4px;
  margin-right: 4px;
  transform: translateY(4px);
}

button .iconWrapperSm {
  width: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
}
