.closeButton {
  color: var(--color-red-500);
  border: none;
  background-color: var(--color-white);
}

.list_box {
  height: var(--space-25-5);
  overflow-y: auto;
  width: auto;
}

.head {
  min-width: 0;
}

.postContainer {
  min-width: 0;
}

.mainpagerightOrgPost {
  min-width: 0;
}

.pinnedPosts,
.yourFeed {
  font-size: var(--font-size-40) !important;
  font-weight: var(--font-weight-medium) !important;
  margin-bottom: var(--space-5) !important;
}

.addPost {
  min-width: 0;
}

.noPostsFound {
  min-width: 0;
}

.postInfiniteScroll {
  min-width: 0;
}

.createPostModalContainer {
  min-width: 0;
}

.pinnedPostModal {
  min-width: 0;
}

.pinnedPostModalBody {
  min-width: 0;
}

.closeButtonIcon {
  min-width: 0;
}
