.inputField:global(.form-control) {
  margin-top: var(--space-4);
  margin-bottom: var(--space-4);
  background-color: var(--color-white);
  border: var(--border-1) solid var(--color-gray-100);
  box-shadow: 0 var(--shadow-offset-md) var(--shadow-blur-lg)
    var(--shadow-spread-none) var(--color-black-10);
}

.inputField:global(.form-control)::placeholder {
  color: var(--color-gray-500);
  opacity: 1;
}

.inputField:global(.form-control):focus {
  border: var(--border-0) solid var(--color-gray-300);
  background-color: var(--color-gray-100);
}

.inputField:global(.form-control):focus-visible {
  box-shadow: 0 var(--shadow-offset-md) var(--shadow-blur-md)
    var(--shadow-spread-none) var(--color-black-25);
  outline: var(--border-2) solid var(--color-blue-500);
  outline-offset: 2px;
}
