@import '../../../style/tokens/index.css';

.yearlyCalendar {
  background-color: var(--yearlyCalendar-bg);
  box-sizing: border-box;
}

.yearlyCalendar {
  font-family: sans-serif;
  font-size: 1.2rem;
  margin-bottom: 10px;
  background: var(--calendar-bg);
  border-radius: 10px;
  padding-left: 70px;
  padding-right: 70px;
  padding-top: 5px;
}

.yearlyCalendarHeader {
  display: flex;
  flex-direction: row;
}

.year {
  font-weight: 600;
  font-size: 2rem;
  padding: 0 10px;
  color: var(--yearlyCalendarHeader-color);
}

.buttonEventCalendar {
  border-radius: 100px;
  color: var(--buttonEventCalendar-color);
  border: 0;
  font-size: 40px;
}

.rowYearlyEventCalender {
  margin: 1px -5px;
}

.rowYearlyEventCalender:after {
  content: '';
  display: table;
  clear: both;
  margin: 0 -5px;
}

.columnYearlyEventCalender {
  float: left;
  width: 25%;
  padding: 10px;
}

@media only screen and (max-width: 576px) {
  .columnYearlyEventCalender {
    float: left;
    width: 100%;
    padding: 10px;
  }
}

.cardYearlyEventCalender {
  padding: 16px;
  text-align: center;
  height: 21rem;
}

.cardHeaderYearlyEventCalender {
  text-align: left;
}

.calendar__weekdays {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  background-color: var(--calendarWeekdays-bg);
  font-family: Outfit, sans-serif;
  height: 25px;
}

.weekday__yearly {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--weekdayYearly-bg);
  font-weight: 600;
}

.calendar__days {
  display: grid;
  grid-template-columns: repeat(7, minmax(0, 1fr));
  grid-template-rows: repeat(5, 1fr);
  margin-bottom: 30px;
}

.day__today {
  background-color: var(--dayToday-bg);
  font-weight: 700;
  text-decoration: underline;
  color: var(--dayToday-color);
}

.day__outside {
  background-color: var(--dayOutside-bg);
  color: var(--dayOutside-color);
}

.day__yearly {
  background-color: var(--day-bg);
  padding-left: 0.3rem;
  padding-right: 0.3rem;
  border-radius: 10px;
  margin: 5px;
  border: 1px solid var(--day-border);
  color: var(--day-color);
  font-weight: 600;
  height: 9rem;
  position: relative;
  display: block;
}

.day__events {
  background-color: var(--dayEvents-bg);
}

.expand_list_container {
  width: 200px;
  max-height: 250px;
  z-index: 10;
  position: absolute;
  left: auto;
  right: auto;
  overflow: auto;
  padding: 10px 4px 0px 4px;
  background-color: var(--expandListContainer-bg);
  border: 1px solid var(--expandListContainer-border);
  border-radius: 5px;
  margin: 5px;
}

@media only screen and (max-width: 768px) {
  .expand_list_container {
    width: 150px;
    padding: 4px 4px 0px 4px;
  }
}

.expand_event_list {
  display: block;
}

.event_list {
  /* Base style used in component. */
  display: block;
}

@media only screen and (max-width: 768px) {
  .event_list {
    display: none;
  }
}

.btn__more {
  border: 0;
  font-size: 14px;
  background-color: initial;
  color: var(--btnMore-color);
  font-weight: 600;
  transition: all 200ms;
  position: relative;
}

.btn__more:hover {
  color: var(--btnMore-color-hover);
}

@media only screen and (max-width: 576px) {
  .btn__more {
    font-size: 12px;
  }
}

.closebtnYearlyEventCalender {
  padding: 10px;
}

.circularButton {
  width: 6px;
  height: 6px;
  background-color: currentColor;
  border-radius: 50%;
  display: inline-block;
}
