.containerAdvertisements {
  background-color: var(--containerAdvertisemens-bg);
  border-radius: var(--radius-20);
  width: auto;
  margin-inline-start: var(--space-4);
}

.pMessageAdvertisement {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: var(--font-size-2xl);
  font-weight: var(--font-weight-medium);
  line-height: 1.2;
  padding-bottom: var(--space-7);
}

.justifyspAdvertisements {
  display: grid;
  width: 100%;
  margin-top: var(--space-8);
  grid-template-rows: auto;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: var(--space-4) var(--space-6-5);
}

@media (max-width: 1024px) {
  .justifyspAdvertisements {
    grid-template-columns: repeat(3, 1fr);
  }
}

.rowAdvertisements {
  margin-top: var(--space-6);
  display: grid;
  width: 100%;
  grid-template-rows: auto;
  grid-gap: var(--space-4) var(--space-6-5);
  overflow: hidden;
}

.colAdvertisements {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--space-3);
}

.inputAdvertisements {
  display: flex;
  position: relative;
  width: calc(var(--space-25) + var(--space-10) + var(--space-4));
}

.listBoxAdvertisements {
  display: grid;
  width: 100%;
  grid-template-rows: auto;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: var(--space-4) var(--space-6-5);
}
