.errorContainer {
  min-height: 100vh;
}

.errorMessage {
  margin-top: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.errorIcon {
  transform: scale(1.5);
  color: var(--bs-danger);
  margin-bottom: 1rem;
}

.scrollContainer {
  max-height: 100px;
  overflow-y: auto;
  margin-bottom: 1rem;
}

.tagBadge {
  display: flex;
  align-items: center;
  padding: 5px 10px;
  border-radius: 12px;
  box-shadow: 0 1px 3px var(--bs-gray-400);
  max-width: calc(100% - 2rem);
}

.removeFilterIcon {
  cursor: pointer;
}
