.dropdown {
  background-color: var(--dropdown-bg) !important;
  min-width: 150px;
  border: 1px solid var(--dropdown-border);
  color: var(--dropdown-font-color) !important;
  position: relative;
  display: inline-block;
}
