.membername,
.memberemail {
  position: relative;
  white-space: nowrap;
}

.membername {
  color: black;
}

.memberemail1,
.listItemParent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
}

.listItemParent {
  align-self: stretch;
  flex-direction: row;
  padding: 0 var(--padding-12xs) 0 0;
  gap: var(--gap-43xl);
  margin-bottom: 10px;
  max-width: 100%;
}

.listItemChild,
.rectangle {
  display: flex;
  justify-content: flex-start;
}

.rectangle {
  width: 186px;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 0 var(--padding-7xs);
  box-sizing: border-box;
}

.listItemChild {
  flex: 1;
  flex-direction: row;
  align-items: center;
  gap: var(--gap-37xl);
  max-width: 100%;
}

.tableHeader1 {
  width: 146px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 var(--padding-5xs) 0 0;
  box-sizing: border-box;
  gap: var(--gap-xl);
}

.memberimg {
  height: 42px;
  width: 47px;
  position: relative;
  border-radius: var(--br-7xl);
  background-color: var(--color-mediumseagreen-400);
}

.memberdateParent {
  width: 159px;
  flex-direction: column;
  padding: var(--padding-8xs) 0 0;
}

.memberJoinDate {
  align-self: stretch;
  position: relative;
  white-space: nowrap;
  margin-bottom: 0;
  margin-top: 8px;
}
