.memberlist {
  margin-top: -1px;
}
.memberimg {
  border-radius: 10px;
  margin-left: 10px;
}
.singledetails {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.singledetails p {
  margin-bottom: -5px;
}
.singledetails_data_left {
  margin-top: 10px;
  margin-left: 10px;
  color: #707070;
}
.singledetails_data_right {
  justify-content: right;
  margin-top: 10px;
  text-align: right;
  color: #707070;
}
.membername {
  font-size: 16px;
  font-weight: bold;
}
.memberfont {
  margin-top: 3px;
}
.memberfont > span {
  width: 80%;
}
.memberfontcreated {
  margin-top: 18px;
}
.memberfontcreatedbtn {
  margin-top: 33px;
  border-radius: 7px;
  border-color: #e8e5e5;
  background-color: #f7f7f7;
  padding-right: 10px;
  padding-left: 10px;
  justify-content: flex-end;
  float: right;
  text-align: right;
  box-shadow: none;
}
#grid_wrapper {
  align-items: left;
}
.peoplelistdiv {
  margin-right: 50px;
}
