.settingsBody {
  margin: var(--space-9) 0;
  padding: 0;
}

.deleteCardHeader {
  background-color: var(--activeTab-bg);
  border-top-left-radius: var(--radius-xl) !important;
  border-top-right-radius: var(--radius-xl) !important;
  padding-top: var(--space-5);
  padding-bottom: var(--space-5);
}

.cardHeading {
  padding-left: var(--space-6-5) !important;
}

.cardBody {
  padding: var(--space-5) 0rem;
  display: flex;
  width: 100% !important;
  justify-content: center;
}

.orgCardSettings {
  padding: var(--space-5) var(--space-7);
}
