.dropdown {
  background-color: var(--dropdown-bg) !important;
  min-width: 150px;
  border: 1px solid var(--dropdown-border);
  color: var(--dropdown-font-color) !important;
  position: relative;
  display: inline-block;
}

.dropdownToggle {
  margin-bottom: 0;
  display: flex;
  background-color: var(--tablerow-bg-color);
  border: none;
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;
  color: var(--eventManagement-button-text);
  background-repeat: no-repeat;
  background-position: center;
}

.dropdownMenu {
  position: absolute;
  z-index: 1000;
  background-color: var(--dropdownmenu-bg);
  min-width: 120px;
  box-shadow: 0px 8px 16px 0px var(--dropdownmenu-box-shadow);
  padding: 5px 0;
  margin: 0;
  list-style: none;
}

.dropdownItem {
  background-color: var(--dropdownItem-bg) !important;
  color: var(--dropdownItem-color) !important;
  border: none !important;
  box-shadow: var(--dropdownItem-box-shadow);
}
