.paginationWrap {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--space-7);
  padding: var(--space-5);
  border-top: var(--border-1) solid var(--color-gray-100);
}

.paginationRange {
  font-size: var(--space-4);
  color: var(--row-color);
  min-width: var(--space-14);
  text-align: center;
}

.pageBtn {
  padding: var(--space-3) var(--space-5);
  border: var(--border-1) solid var(--color-gray);
  border-radius: var(--space-2);
  background-color: var(--color-blue-200);
  color: var(--color-gray-700);
  font-size: var(--space-4);
  cursor: pointer;
  transition:
    background-color 0.2s,
    border-color 0.2s,
    color 0.2s,
    opacity 0.2s;
}

.pageBtn:hover:not(:disabled) {
  background-color: var(--color-blue-500);
  border-color: var(--color-gray-700);
  color: var(--color-white);
}

.pageBtn:disabled {
  opacity: 0.6;
  background-color: var(--color-gray-50);
  cursor: not-allowed;
}

.pageBtn:focus {
  outline: var(--space-1) solid var(--color-blue-500);
  outline-offset: var(--space-1);
}
