.userData {
  height: 400px;
  overflow-y: scroll;
  overflow-x: hidden !important;
}

.modalContent {
  width: 530px;
}

.groupInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.groupImage {
  margin-bottom: 10px;
}

.editImgBtn {
  padding: 2px 6px 6px 8px;
  border-radius: 100%;
  background-color: white;
  border: 1px solid #959595;
  color: #959595;
  outline: none;
  position: relative;
  top: -40px;
  left: 40px;
}

.chatImage {
  height: 120px;
  border-radius: 100%;
  width: 120px;
}
