.signOutContainer {
  display: flex;
  align-items: center;
  width: 100%;
  text-align: start;
  margin-bottom: var(--space-4);
  border-radius: var(--radius-8);
  font-size: var(--font-size-md);
  padding: var(--space-4);
  padding-left: var(--space-4);
  outline: none;
  border: none;
  background-color: var(--signOut-container-bg);
  margin-top: var(--space-5);
  cursor: pointer;
}

.signOutButton {
  background-color: var(--signOutBtn-bg) !important;
  border: none !important;
  border-radius: var(--radius-6) !important;
  margin-left: var(--space-3);
}

.signOutDisabled {
  opacity: 0.5;
  pointer-events: none;
  cursor: not-allowed;
}

.sidebarText {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: var(--primaryText-color);
}
