.navLinkClass {
  display: inline-block;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.4;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  color: var(--bs-gray-900);
  border-radius: 0.3rem;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid var(--bs-gray-700);
  font-weight: 500;
  transition: all 0.25s ease;
}

.navLinkClass:hover {
  color: var(--bs-white);
  background-color: var(--bs-gray);
  border-color: var(--bs-gray);
}

.activeLink {
  color: white;
  border: 1px solid var(--bs-primary);
  background-color: var(--toggle-button-bg);
}

.activeLink:hover {
  color: var(--bs-white);
  background-color: var(--toggle-button-bg);
  border: 1px solid var(--bs-primary);
}
