.customScroll {
  overflow-y: scroll;
}
.customScroll::-webkit-scrollbar {
  width: 5px;
}
.customScroll::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 6px;
}
.customScroll::-webkit-scrollbar-thumb {
  background: var(--bs-gray-500);
  border-radius: 6px;
}
.customScroll::-webkit-scrollbar-thumb:hover {
  background: var(--bs-gray-600);
  border-radius: 6px;
}
