/* -- AgendaFolderDeleteModal.tsx -- */

.agendaFolderModal {
  max-width: 80vw;
  margin-top: 2vh;
  margin-left: 13vw;
}

@media (max-width: 768px) {
  .agendaFolderModal {
    margin: 10vh auto;
    max-width: 90%;
  }

  .titlemodalAgendaFolder {
    width: 90%;
  }

  .greenregbtnAgendaFolder {
    width: 90%;
  }
}

@media (max-width: 576px) {
  .agendaFolderModal {
    margin: 5vh auto;
    max-width: 95%;
  }

  .titlemodalAgendaFolder {
    width: 100%;
  }

  .greenregbtnAgendaFolder {
    width: 100%;
  }
}