.agendaItemRow {
  border: var(--border-1) solid var(--agendaItemRow-border);
  border-radius: var(--radius-xs);
  transition: box-shadow 0.2s ease;
  background-color: var(--agendaItemRow-bg);
}

.agendaItemRow:hover {
  background-color: var(--agendaItemRow-bg-hover);
}

.dragging {
  box-shadow: var(--shadow-offset-none) var(--shadow-offset-md)
    var(--shadow-blur-lg) var(--dragging-box-shadow);
  z-index: 1000;
  background-color: var(--dragging-bg);
}

.categoryChip {
  display: inline-flex;
  align-items: center;
  background-color: var(--categoryChip-bg);
  border-radius: var(--radius-md);
  padding: var(--space-0) var(--space-6);
  font-size: var(--font-size-sm);
  height: var(--space-8);
  white-space: nowrap;
  margin: var(--space-4);
}

.tableHeadAgendaItems {
  background-color: var(--tableHeadAgendaItems-bg) !important;
  color: var(--tableHeadAgendaItems-color);
  border-radius: var(--radius-lg) var(--radius-lg) var(--radius-none)
    var(--radius-none) !important;
  padding: var(--space-8);
}
