.cardItem {
  position: relative;
  display: flex;
  align-items: center;
<<<<<<< HEAD
  border: 1px solid var(--bs-gray-200);
  border-radius: 8px;
  margin-top: 20px;
=======
  padding: 0.75rem 0;
>>>>>>> a320d35e91b2a3d10a9143384969dba0973c37f1
}

.cardItem .iconWrapper {
  position: relative;
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cardItem .iconWrapper .themeOverlay {
  background: var(--bs-primary);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0.12;
  border-radius: 50%;
}

.cardItem .iconWrapper .dangerOverlay {
  background: var(--bs-danger);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0.12;
  border-radius: 50%;
}

.cardItem .title {
  font-size: 1rem;
  flex: 1;
<<<<<<< HEAD
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  line-clamp: 1;
  -webkit-box-orient: vertical;
  margin-left: 3px;
}

.cardItem .location {
  font-size: 0.9rem;
  color: var(--bs-primary);
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  line-clamp: 1;
  -webkit-box-orient: vertical;
=======
>>>>>>> a320d35e91b2a3d10a9143384969dba0973c37f1
}

.cardItem .time {
  font-size: 0.9rem;
  color: var(--bs-secondary);
}

.cardItem .creator {
  font-size: 1rem;
  color: rgb(33, 208, 21);
}

.rightCard {
  display: flex;
<<<<<<< HEAD
  gap: 7px;
  min-width: 170px;
  justify-content: center;
  flex-direction: column;
  margin-left: 10px;
  overflow-x: hidden;
  width: 210px;
=======
  gap: 5px;
  min-width: 170px;
  justify-content: center;
  flex-direction: column;
>>>>>>> a320d35e91b2a3d10a9143384969dba0973c37f1
}
