.cardItem {
  position: relative;
  display: flex;
  align-items: center;
  padding: 1rem 3rem 1rem 1.5rem;
  border: 1px solid #dddddd;
  border-radius: 8px;
  margin-top: 20px;
}

.cardItem .iconWrapper {
  position: relative;
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cardItem .iconWrapper .themeOverlay {
  background: var(--bs-primary);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0.12;
  border-radius: 50%;
}

.cardItem .iconWrapper .dangerOverlay {
  background: var(--bs-danger);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0.12;
  border-radius: 50%;
}

.cardItem .title {
  font-size: 1rem;
  flex: 1;
  font-style: normal;
  font-weight: 600;
  line-height: 18px;
  color: #000000;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  line-clamp: 1;
  -webkit-box-orient: vertical;
  margin-left: 3px;
}

.cardItem .location {
  font-style: normal;
  font-weight: 600;
  font-size: 0.9rem;
  color: #31bb6b;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  line-clamp: 1;
  -webkit-box-orient: vertical;
}

.cardItem .time {
  font-size: 0.9rem;
  color: var(--bs-secondary);
  font-style: normal;
  font-weight: 600;
  color: #737373;
}

.cardItem .creator {
  font-size: 1rem;
  color: rgb(33, 208, 21);
}

.rightCard {
  display: flex;
  gap: 7px;
  min-width: 170px;
  justify-content: center;
  flex-direction: column;
  margin-left: 10px;
  overflow-x: hidden;
  width: 210px;
}
