.cardBody {
    padding: 1.25rem 1.5rem;
}

.cardBody .iconWrapper {
    position: relative;
    height: 48px;
    width: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cardBody .iconWrapper .themeOverlay {
    background: var(--bs-primary);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0.12;
    border-radius: 50%;
}

.cardBody .textWrapper .primaryText {
    font-size: 24px;
    font-weight: bold;
    display: block;
}

.cardBody .textWrapper .secondaryText {
    font-size: 14px;
    display: block;
    color: var(--bs-secondary);
}

@media (max-width: 600px) {
    .cardBody {
        min-height: 120px;
    }

    .cardBody .iconWrapper {
        position: absolute;
        top: 1rem;
        left: 1rem;
    }

    .cardBody .textWrapper {
        margin-top: calc(0.5rem + 36px);
        text-align: right;
    }

    .cardBody .textWrapper .primaryText {
        font-size: 1.5rem;
    }

    .cardBody .textWrapper .secondaryText {
        font-size: 1rem;
    }
}