.actionItemsContainer {
  height: 90vh;
}

.btnsContainer {
  display: flex;
}

.btnsContainer .btnsBlock {
  display: flex;
}

.btnsContainer .btnsBlock button {
  margin-left: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btnsContainer .input {
  flex: 1;
  position: relative;
}

.btnsContainer input {
  outline: 1px solid var(--bs-gray-400);
}

.btnsContainer .input button {
  width: 52px;
}

.container {
  min-height: 100vh;
}

.datediv {
  display: flex;
  flex-direction: row;
  margin-top: 30px;
  margin-bottom: 20px;
}
.datebox {
  width: 90%;
  border-radius: 7px;
  border-color: #e8e5e5;
  outline: none;
  box-shadow: none;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-right: 5px;
  padding-left: 5px;
  margin-right: 5px;
  margin-left: 5px;
}

.dropdown {
  display: inline;
}

.dropdownToggle {
  margin-bottom: 0;
}

.dropdownModalToggle {
  width: 50%;
}

.errorIcon {
  transform: scale(1.5);
  color: var(--bs-danger);
  margin-bottom: 1rem;
}

form > input {
  display: block;
  border: 1px solid #e8e5e5;
  box-shadow: 2px 1px #e8e5e5;
  padding: 10px 20px;
  border-radius: 5px;
  background: none;
  width: 100%;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}

.greenregbtn {
  margin: 1rem 0 0;
  margin-top: 15px;
  border: 1px solid #e8e5e5;
  box-shadow: 0 2px 2px #e8e5e5;
  padding: 10px 10px;
  border-radius: 5px;
  background-color: #31bb6b;
  width: 100%;
  font-size: 16px;
  color: white;
  outline: none;
  font-weight: 600;
  cursor: pointer;
  transition: transform 0.2s, box-shadow 0.2s;
  width: 100%;
}

hr {
  border: none;
  height: 1px;
  background-color: var(--bs-gray-500);
  margin: 1rem;
}

.iconContainer {
  display: flex;
  justify-content: flex-end;
}
.icon {
  margin: 1px;
}

.message {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.searchForm {
  display: inline;
}

.titlemodal {
  color: #707070;
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 20px;
  padding-bottom: 5px;
  border-bottom: 3px solid #31bb6b;
  width: 65%;
}

@media (max-width: 1020px) {
  .btnsContainer {
    flex-direction: column;
    margin: 1.5rem 0;
  }

  .btnsContainer .btnsBlock {
    margin: 1.5rem 0 0 0;
    justify-content: space-between;
  }

  .btnsContainer .btnsBlock button {
    margin: 0;
  }

  .btnsContainer .btnsBlock div button {
    margin-right: 1.5rem;
  }
}

@media (max-width: 767px) {
  .btnsContainer .btnsBlock {
    flex-direction: column;
    margin: 1.5rem 0 0 0;
    justify-content: space-between;
  }

  .dropdownToggle {
    margin-bottom: 1rem;
  }

  .dropdownContainer {
    margin-bottom: 0;
    justify-content: space-between;
  }
}

/* For mobile devices  */

@media (max-width: 520px) {
  .btnsContainer {
    margin-bottom: 0;
  }

  .btnsContainer .btnsBlock {
    display: block;
    margin-top: 1rem;
    margin-right: 0;
  }

  .btnsContainer .btnsBlock div {
    flex: 1;
  }

  .btnsContainer .btnsBlock div[title='Sort organizations'] {
    margin-right: 0.5rem;
  }

  .btnsContainer .btnsBlock button {
    margin-bottom: 1rem;
    margin-right: 0;
    width: 100%;
  }

  .dropdownToggle {
    margin-bottom: 0;
  }
}
