@import '../../../style/tokens/index.css';

.modalHeader {
  background-color: var(--color-white);
  color: var(--color-black);
}

.addButton {
  background-color: var(--color-blue-200);
  color: var(--color-gray-700);
  border: 1px solid var(--color-gray-100);
  padding: var(--space-2) var(--space-4);
  font-weight: var(--font-weight-medium);
}

.addButton:hover {
  background-color: var(--color-blue-500);
  color: var(--color-white);
}

.removeButton {
  background-color: var(--color-red-100);
  color: var(--color-red-500);
  border: 1px solid var(--color-red-100);
  padding: var(--space-2) var(--space-4);
  font-weight: var(--font-weight-medium);
}

.removeButton:hover {
  background-color: var(--color-red-500);
  color: var(--color-white);
}

.inputField {
  background-color: var(--color-white);
  border: 1px solid var(--color-gray-200);
  color: var(--color-gray-700);
  padding: var(--space-2);
  width: 100%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-top: var(--space-2);
  margin-bottom: var(--space-2);
}

.inputField:focus {
  border-color: var(--color-blue-500);
  outline: none;
  box-shadow: 0 0 0 4px var(--color-blue-200);
}

.datebox {
  margin-right: var(--space-4);
  flex: 1;
}

.datediv {
  display: flex;
  justify-content: space-between;
  margin-bottom: var(--space-3);
  gap: var(--space-4);
}

.checkboxdiv {
  margin-top: var(--space-3);
}

.dispflexOrganizationEvents {
  display: flex;
  align-items: center;
  margin-bottom: var(--space-2);
  justify-content: space-between;
}

.switch {
  margin-left: var(--space-2);
}

.dropdown {
  width: 100%;
}

.previewEventListCardModals {
  display: flex;
  flex-direction: row;
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-md);
  margin: var(--space-0);
  color: var(--color-gray-700);
}

.previewForm label {
  font-weight: var(--font-weight-bold);
  color: var(--color-gray-700);
}
