/**
 * Loader — event stats loading spinner
 */

.loader,
.loader:after {
  border-radius: 50%;
  width: 4rem;
  height: 4rem;
}

.loader {
  margin: 3.75rem auto;
  margin-top: 35vh !important;
  font-size: 0.625rem;
  position: relative;
  text-indent: -9999em;
  border-top: 4px solid rgba(0, 113, 227, 0.1);
  border-right: 4px solid rgba(0, 113, 227, 0.1);
  border-bottom: 4px solid rgba(0, 113, 227, 0.1);
  border-left: 4px solid #0071e3;
  transform: translateZ(0);
  animation: load8 1.1s infinite linear;
}

@keyframes load8 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
