.statusCircle {
  font-size: var(--font-size-13);
  margin-right: var(--space-3);
  align-self: center;
}

.statusActive {
  color: var(--bs-success);
}

.statusDisabled {
  color: var(--errorIcon-color);
}

.noOutline input {
  outline: none;
}

.noOutline input:disabled {
  -webkit-text-fill-color: var(--noOutline-input-disables) !important;
}

.noOutline textarea:disabled {
  color: var(--noOutline-textarea-disables) !important;
  opacity: 1;
}

.noOutline:is(:hover, :focus, :active, :focus-visible, .show) {
  outline: none !important;
}