.statusCircle {
  font-size: var(--font-size-13);
  margin-right: var(--space-3);
  align-self: center;
}

.statusActive {
  color: var(--bs-success);
}

.statusDisabled {
  color: var(--errorIcon-color);
}
