.createModal {
  margin-top: 20vh;
  margin-left: 13vw;
  max-width: 80vw;
}

.titlemodal {
  color: var(--titlemodal-color);
  font-weight: var(--font-weight-semibold);
  font-size: var(--font-size-3xl);
  width: 65%;
  margin-bottom: var(--space-0);
}

.editButton {
  background-color: var(--gray-100, #f3f4f6);
  color: var(--gray-700, #374151);
  border-color: var(--gray-100, #f3f4f6);
}

.editButton:is(:hover, :active) {
  background-color: var(--green-500, #3ecf8e);
  border-color: var(--gray-700, #374151);
}
