.peopleTabUserEventContainer {
  background: var(--color-white);
  border-radius: var(--radius-sm);
  height: var(--space-17);
  display: flex;
  flex-direction: column;
  padding: var(--space-5) var(--space-8);
  margin: var(--space-3);
  border-left: var(--border-6) solid var(--color-blue-200);
  border-right: var(--border-1) solid var(--color-gray-500);
  border-top: var(--border-1) solid var(--color-gray-500);
  border-bottom: var(--border-1) solid var(--color-gray-500);
}

.peopleTabUserEventTimeWrapper {
  text-align: center;
  min-width: var(--space-12);
}

.peopleTabUserEventTime {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.peopleTabUserOrganizationEventPageTime {
  margin: 0;
  font-weight: bold;
  font-size: var(--space-7);
  line-height: 1.3;
}

.peopleTabUserOrganizationEventPageTimeSeparator {
  margin: var(--space-2) 0;
  font-size: 1rem;
}

.peopleTabUserEventDate {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.dateText {
  margin: 0;
  font-size: var(--space-4);
  color: var(--color-gray-600);
}

.peopleTabUserEventInfo {
  flex: 1;
  margin: var(--space-8) var(--space-3);
  display: flex;
  flex-direction: column;
}

.eventName {
  margin: 0 0 var(--space-3) 0;
}

.peopleTabUserOrganizationEventPageEventDescription {
  margin: 0;
  font-size: var(--space-5);
  color: var(--color-gray-600);
  overflow-wrap: anywhere;
  white-space: normal;
}

.peopleTabUserEventAction {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: var(--space-3);
}

.peopleTabUserEventActionButton {
  background-color: var(--color-blue-200);
  border: none;
  border-radius: var(--space-2);
  padding: var(--space-2) var(--space-3);
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: var(--space-5);
  margin: calc(-1 * var(--space-8)) calc(-1 * var(--space-5));
  width: var(--space-14);
  padding: var(--space-2) var(--space-4);
  height: var(--space-9);
}

.peopleTabUserEventActionButton:hover {
  background-color: var(--color-blue-200);
}

.actionIcon {
  display: flex;
  align-items: center;
}
