.toggleGroup {
  width: 50%;
  min-width: var(--space-21);
  margin: var(--space-3) var(--space-0);
}

.toggleBtn {
  padding: var(--space-0);
  height: var(--space-8);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--gray-50, #fafafa);
  color: var(--gray-400, #9ca3af);
  border: var(--border-1) solid var(--gray-100, #f3f4f6);
}

#individualRadio,
#requestsRadio,
#groupsRadio {
  color: var(--green-500, #3ecf8e);
}

.toggleBtn:hover {
  color: var(--gray-700, #374151);
  border: var(--border-1) solid var(--gray-100, #f3f4f6);
}
