:root {
  --picker-icon-space: 40px;
}

.fullWidth {
  width: 100%;
}

.pickerLabel {
  margin-bottom: 0.5rem;
  display: block;
}

.paddedInput {
  padding-right: calc(var(--picker-icon-space) + 0.75rem);
}
