.message {
  margin-top: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.iconOrgActionItemCategories {
  transform: scale(1.5);
  color: var(--iconOrgActionItemCategories-color);
  margin-bottom: var(--space-4);
}

.tableHeader {
  background-color: var(--color-red-500);
}

.editButton {
  background-color: var(--editButton-bg);
  color: var(--editButton-font);
  border-color: var(--editButton-border);
  --bs-btn-active-bg: var(--editButton-bg-active);
  --bs-btn-active-border-color: var(--editButton-border-active);
}

.btnsContainerOrgActionItemCategories {
  display: flex;
  margin: var(--space-2) 0 var(--space-4) 0;
  align-items: stretch;
  gap: var(--space-1);
  flex-wrap: wrap;
}

.dropdown {
  background-color: var(--dropdown-bg) !important;
  min-width: var(--space-16);
  color: var(--dropdown-font-color) !important;
  position: relative;
  display: inline-block;
}

.createButton {
  background-color: var(--createButton-bg);
  color: var(--createButton-font);
  border-color: var(--createButton-border);
  --bs-btn-active-bg: var(--createButton-bg-active);
  --bs-btn-active-border-color: var(--createButton-border-active);
  padding: var(--space-4) var(--space-6);
}

.marginTopSm {
  margin-top: var(--space-9);
}

.rowBackground {
  background-color: var(--rowBackground-bg);
  color: var(--rowBackground-color);
  max-height: var(--space-24);
  overflow-y: auto;
}
