.venueimage {
  width: 100%;
  aspect-ratio: 3 / 2;
  object-fit: cover;
  display: block;
}

.title {
  font-size: var(--space-5);
  flex: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-left: var(--space-1);
}

.capacityLabel {
  background-color: var(--capacityLabel-bg);
  color: var(--capacityLabel-color);
  height: var(--space-6);
  font-size: var(--space-4);
  font-weight: bolder;
  padding: var(--space-1) var(--space-2);
  border-radius: var(--space-3);
  position: relative;
  overflow: hidden;
}

.addButton {
  margin-bottom: var(--space-4);
  color: var(--addButton-font);
  background-color: var(--light-blue);
  border-color: var(--addButton-bg);
}

.removeButton {
  margin-bottom: var(--space-4);
  margin-right: var(--space-4);
  background-color: var(--removeButton-bg);
  color: var(--removeButton-color);
  border-color: var(--removeButton-border);
}

.cardWrapper {
  flex: 0 0 33.33%;
  max-width: 33.33%;
}

.cardBody {
  padding-bottom: 0;
}

.venueTitleRow {
  display: flex;
  justify-content: space-between;
}

.peopleIcon {
  margin-left: 0.25rem;
}

.actionsRow {
  display: flex;
  justify-content: flex-end;
  gap: 0.5rem;
  margin-bottom: 0.5rem;
  margin-right: 1rem;
}
