.cards {
  border: none;
  background: none;
  padding: var(--space-2) var(--space-3);
  width: 100%;
}

.card {
  border: none;
  background-color: transparent !important;
}

.venueimage {
  width: 100%;
  height: var(--space-18);
  object-fit: cover;
  border-radius: var(--radius-20) var(--radius-20) 0 0;
}

.title {
  font-size: var(--font-size-19);
  font-weight: bold;
  margin-bottom: var(--space-3);
  color: var(--titleContainer-color);
}

.capacityLabel {
  font-size: var(--font-size-13);
  color: var(--cardListItem-color);
  background-color: var(--activeTab-bg);
  padding: var(--space-0-5) var(--space-2);
  border-radius: var(--radius-sm);
}

.text {
  font-size: var(--font-size-15);
  color: var(--cardListItem-color);
  margin-bottom: var(--space-5);
}

.addButton {
  margin-bottom: var(--space-5);
  color: var(--addButton-font);
  background-color: var(--light-blue);
  border-color: var(--addButton-bg);
  --bs-btn-focus-box-shadow: none;
}

.addButton:is(:hover, :active, :focus) {
  background-color: var(--addButton-bg-hover) !important;
  border-color: var(--addButton-border-hover);
}

.removeButton {
  background-color: var(--removeButton-bg);
  color: var(--removeButton-color);
  border: none;
  border-radius: var(--radius-sm);
  padding: var(--space-2) var(--space-3);
  cursor: pointer;
}

.removeButton:is(:hover, :active, :focus) {
  background-color: var(--removeButton-bg-hover) !important;
  color: var(--removeButton-color-hover) !important;
}
