.personalDetailsHeader {
  background-color: var(--color-blue-200);
  color: var(--color-gray-700);
}

.profileImage {
  width: var(--space-11);
  height: var(--space-11);
  object-fit: cover;
}

.editProfileIcon {
  cursor: pointer;
  font-size: var(--font-size-19);
}

.hiddenFileInput {
  display: none;
}

.contact_btn {
  border-radius: var(--radius-2xl);
}

.member_details_style {
  background-color: var(--color-blue-200);
  color: var(--color-gray-700);
}

.allRound {
  border-radius: var(--radius-xl);
}

.topRadius {
  border-top-left-radius: var(--radius-2xl);
  border-top-right-radius: var(--radius-2xl);
  color: var(--color-gray-700);
  background: var(--color-gray-50);
}

.inputColor {
  background: var(--color-gray-50);
}

.contact {
  width: 100%;
}

.cardBody {
  padding: var(--space-5) var(--space-0);
  display: flex;
  width: 100% !important;
  justify-content: center;
}

.scrollableCardBody {
  max-height: min(var(--space-17), 50vh);
  overflow-y: auto;
  scroll-behavior: smooth;
}

.cardControl {
  margin-bottom: var(--space-6);
}

.emptyContainer {
  padding: var(--space-5);
  text-align: center;
  color: var(--color-gray-700);
}
