.cardItem {
  composes: cardItem from '../../../../style/app-fixed.module.css';
}

.iconWrapper {
  composes: iconWrapper from '../../../../style/app-fixed.module.css';
}

.themeOverlay {
  background: var(--cardItem-iconWrapper-bg);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0.12;
  border-radius: 50%;
}

.title {
  font-size: 1rem;
  flex: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-left: 3px;
}

.titlePlaceholder {
  --card-item-loading-height: 1.5rem;
  display: inline-block;
  height: var(--card-item-loading-height);
}
