.cardItem {
  border: 1px solid var(--cardItem-border, #e9ecef);
  background: var(--orgCard-bg, #fff);
  border-radius: 8px;
  padding: 16px;
  display: flex;
  gap: 16px;
  align-items: center;
}

.iconWrapper {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: var(--cardItem-iconWrapper-bg, #0056b3);
  position: relative;
  overflow: hidden;
}

.themeOverlay {
  background: rgba(255, 255, 255, 0.2);
  width: 100%;
  height: 100%;
}

.title {
  width: 60%;
  background: #eee;
  border-radius: 4px;
  height: 1.5rem;
}

/* Loading animations */
.shimmer {
  animation: shimmer 1.5s infinite linear;
  background: linear-gradient(
    to right,
    #f6f7f8 0%,
    #edeef1 20%,
    #f6f7f8 40%,
    #f6f7f8 100%
  );
  background-size: 200% 100%;
}

@keyframes shimmer {
  0% {
    background-position: -100% 0;
  }

  100% {
    background-position: 100% 0;
  }
}

.rounded {
  border-radius: 4px;
}
