:root {
  /* Color contrast ratio: 7.5:1 (exceeds WCAG AAA) */
  --high-contrast-text: #494949;
  /* Color contrast ratio: 9:1 (exceeds WCAG AAA) */
  --high-contrast-border: #2c2c2c;
}

.noOutline input {
  outline: none;
}

.noOutline:is(:hover, :focus, :active, :focus-visible, .show) {
  outline: none !important;
}

.closeButton {
  color: var(--delete-button-color);
  margin-right: 5px;
  background-color: var(--delete-button-bg);
  border: white;
}

.closeButton:hover {
  color: var(--delete-button-bg) !important;
  background-color: var(--delete-button-color) !important;
  border: white;
}

.modalContent {
  width: var(--modal-width);
  max-width: var(--modal-max-width);
}

.subtleBlueGrey {
  color: var(--subtle-blue-grey);
  text-decoration: none;
}

.subtleBlueGrey:hover {
  color: var(--subtle-blue-grey-hover);
  text-decoration: underline;
}

.dropdown {
  background-color: white;
  border: 1px solid var(--dropdown-border-color);
  color: var(--dropdown-text-color);
  position: relative;
  display: inline-block;
  margin-top: 10px;
  margin-bottom: 10px;
}

.dropdown:is(:hover, :focus, :active, :focus-visible, .show) {
  background-color: transparent !important;
  border: 1px solid var(--dropdown-border-color);
  color: var(--dropdown-text-color) !important;
}

.dropdownItem {
  background-color: white !important;
  color: var(--dropdown-text-color) !important;
  border: none !important;
}

.dropdownItem:hover,
.dropdownItem:focus,
.dropdownItem:active {
  background-color: var(--dropdown-hover-color) !important;
  color: var(--dropdown-text-color) !important;
  outline: none !important;
  box-shadow: none !important;
}

.input {
  flex: 3;
  position: relative;
}

.btnsContainer {
  display: flex;
  margin: 2.5rem 0;
  align-items: center;
  gap: 10px;
  /* Adjust spacing between items */
}

.btnsContainer .btnsBlock {
  display: flex;
}

.btnsContainer .btnsBlock button {
  margin-left: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btnsContainer .inputContainer {
  flex: 1;
  position: relative;
}

.btnsContainer .input {
  width: 70%;
}

.btnsContainer input {
  outline: 1px solid var(--bs-gray-400);
}

.btnsContainer .inputContainer button {
  width: 52px;
}

.listBox {
  width: 100%;
  flex: 1;
}

.inputField {
  margin-top: 10px;
  margin-bottom: 10px;

  background-color: white;
  box-shadow: 0 1px 1px var(--input-shadow-color);
}

.btnsContainerBlockAndUnblock {
  display: flex;
  margin: 2.5rem 0 2.5rem 0;
}

.btnsContainerBlockAndUnblock .btnsBlockBlockAndUnblock {
  display: flex;
}

.btnsContainerBlockAndUnblock .btnsBlockBlockAndUnblock button {
  margin-left: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btnsContainerBlockAndUnblock .inputContainerBlockAndUnblock {
  flex: 1;
  position: relative;
}

.btnsContainerBlockAndUnblock .inputBlockAndUnblock {
  width: 70%;
  position: relative;
}

.btnsContainerBlockAndUnblock input {
  outline: 1px solid var(--bs-gray-400);
}

.btnsContainerBlockAndUnblock .inputContainerBlockAndUnblock button {
  width: 52px;
}

.largeBtnsWrapper {
  display: flex;
}

.deleteButton {
  background-color: var(--delete-button-bg);
  color: var(--delete-button-color);
  border: none;
  padding: 5px 20px;
  display: flex;
  align-items: center;
  margin-top: 20px;
  margin-right: auto;
  margin-left: auto;
  gap: 8px;
}

.actionItemDeleteButton {
  background-color: var(--delete-button-bg);
  color: var(--delete-button-color);
  border: none;
}

.createButton {
  background-color: var(--grey-bg-color) !important;
  color: black !important;
  margin-top: 10px;
  margin-left: 5px;
  border: 1px solid var(--dropdown-border-color);
}

.createButton:hover {
  background-color: var(--grey-bg-color) !important;
  color: black !important;
  border: 1px solid var(--dropdown-border-color) !important;
}

.visuallyHidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.inputFieldModal {
  margin-bottom: 10px;
  background-color: white;
  box-shadow: 0 1px 1px var(--input-shadow-color);
}

.inputField > button {
  padding-top: 10px;
  padding-bottom: 10px;
}

.searchButton {
  margin-bottom: 10px;
  background-color: var(--search-button-bg);
  border-color: var(--search-button-border);
  position: absolute;
  z-index: 10;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.searchButton:hover {
  background-color: var(--search-button-bg);
  border-color: var(--search-button-border);
}

.search {
  position: absolute;
  z-index: 10;
  background-color: var(--search-button-bg);
  border-color: var(--search-button-border);
  bottom: 0;
  right: 0;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.editButton {
  background-color: var(--search-button-bg);
  border-color: var(--search-button-border);
  color: var(--high-contrast-text);
  margin-left: 2;
}

.addButton {
  margin-bottom: 10px;
  background-color: var(--search-button-bg);
  border-color: var(--grey-bg-color);
  color: var(--high-contrast-text);
}

.addButton:hover {
  background-color: #286fe0;
  border-color: var(--search-button-border);
  /* color: #555555; */
}

.modalbtn {
  margin-top: 1rem;
  display: flex !important;
  margin-left: auto;
  align-items: center;
  background-color: var(--grey-bg-color) !important;
  color: black !important;
  border: 1px solid var(--dropdown-border-color) !important;
}

.yesButton {
  background-color: var(--search-button-bg);
  border-color: var(--search-button-border);
}

.mainpageright {
  color: var(--dropdown-text-color);
}

.infoButton {
  background-color: var(--search-button-bg);
  border-color: var(--search-button-border);
  color: var(--dropdown-text-color);
  margin-right: 0.5rem;
  border-radius: 0.25rem;
}

.infoButton:hover {
  background-color: #286fe0;
  border-color: var(--search-button-border);
}

.TableImage {
  object-fit: cover;
  /* margin-top: px !important; */
  margin-right: 5px;
  width: var(--table-image-size) !important;
  height: var(--table-image-size) !important;
  border-radius: 100% !important;
}

.tableHead {
  color: var(--table-head-color);
  border-radius: var(--table-head-radius) !important;
  padding: 20px;
  margin-top: 20px;
}

.mainpageright > hr {
  margin-top: 10px;
  width: 100%;
  margin-left: -15px;
  margin-right: -15px;
  margin-bottom: 20px;
}

.rowBackground {
  background-color: var(--row-background);
}

.tableHeader {
  background-color: var(--table-head-bg);
  color: var(--table-header-color);
  font-size: var(--font-size-header);
}

.orgUserTagsScrollableDiv {
  scrollbar-width: auto;
  scrollbar-color: var(--bs-gray-400) var(--bs-white);

  max-height: calc(100vh - 18rem);
  overflow: auto;
  position: sticky;
}

.errorContainer {
  min-height: 100vh;
}

.errorMessage {
  margin-top: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.errorIcon {
  transform: scale(1.5);
  color: var(--bs-danger);
  margin-bottom: 1rem;
}

.subTagsLink {
  color: var(--subtle-blue-grey);
  font-weight: 500;
  cursor: pointer;
}

.subTagsLink i {
  visibility: hidden;
}

.subTagsLink:hover {
  color: var(--subtle-blue-grey-hover);
  font-weight: 600;
  text-decoration: underline;
}

.subTagsLink:hover i {
  visibility: visible;
}

.tagsBreadCrumbs {
  color: var(--bs-gray);
  cursor: pointer;
}

.orgUserTagsScrollableDiv {
  scrollbar-width: auto;
  scrollbar-color: var(--bs-gray-400) var(--bs-white);

  max-height: calc(100vh - 18rem);
  overflow: auto;
  position: sticky;
}

input[type='checkbox']:checked + label {
  background-color: var(--subtle-blue-grey) !important;
}

input[type='radio']:checked + label:hover {
  color: black !important;
}

.actionItemsContainer {
  height: 90vh;
}

.actionItemModal {
  max-width: 80vw;
  margin-top: 2vh;
  margin-left: 13vw;
}

.datediv {
  display: flex;
  flex-direction: row;
}

.datebox {
  width: 90%;
  border-radius: 7px;
  outline: none;
  box-shadow: none;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-right: 5px;
  padding-left: 5px;
  margin-right: 5px;
  margin-left: 5px;
}

hr {
  border: none;
  height: 1px;
  background-color: var(--bs-gray-500);
  margin: 1rem;
}

.iconContainer {
  display: flex;
  justify-content: flex-end;
}

.icon {
  margin: 1px;
}

.message {
  margin-top: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.preview {
  display: flex;
  flex-direction: row;
  font-weight: 900;
  font-size: 16px;
  color: var(--high-contrast-text);
}

.rankings {
  aspect-ratio: 1;
  border-radius: 50%;
  width: 50px;
}

.toggleGroup {
  width: 50%;
  min-width: 20rem;
  margin: 0.5rem 0rem;
}

.toggleBtn {
  padding: 0rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.toggleBtn:hover {
  color: var(--bs-primary) !important;
}

.custom_table {
  border-radius: 20px;
  background-color: var(--grey-bg-color);
}

.custom_table tbody tr {
  background-color: var(--dropdown-hover-color);
}

.custom_table tbody tr:hover {
  background-color: var(--grey-bg-color);
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1);
}

.custom_table tbody tr:focus-within {
  outline: 2px solid #000;
  outline-offset: -2px;
}

.custom_table tbody td:focus {
  outline: 2px solid #000;
  outline-offset: -2px;
}

.listTable {
  width: 100%;
  box-sizing: border-box;
  background: #ffffff;
  border: 1px solid #0000001f;
  border-radius: 24px;
}

.listBox .customTable {
  margin-bottom: 0%;
}

.requestsTable thead th {
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: #000000;
  border-bottom: 1px solid #dddddd;
  padding: 1.5rem;
}

.notFound {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.headerBtn {
  box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 2px;
}

.settingsContainer {
  min-height: 100vh;
}

.settingsBody {
  min-height: 100vh;
  margin: 2.5rem 1rem;
}

.cardHeader {
  padding: 1.25rem 1rem 1rem 1rem;
  border-bottom: 1px solid var(--bs-gray-200);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}
.cardHeader .cardTitle {
  font-size: 1.2rem;
  font-weight: 600;
}

.containerBody {
  min-height: 180px;
  padding-top: 0;
  max-height: 570px;
  overflow-y: auto;
  width: 100%;
  max-width: min(400px, 90vw);
  scrollbar-width: thin;
  scrollbar-color: rgba(0, 0, 0, 0.3) transparent;

  &::-webkit-scrollbar {
    width: thin;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.3);
  }
}

.containerBody .emptyContainer {
  display: flex;
  min-height: 180px;
  justify-content: center;
  align-items: center;
}

.containerBody .rankings {
  aspect-ratio: 1;
  border-radius: 50%;
  width: 35px;
}

.cardBody {
  min-height: 180px;
}

.cardBody .textBox {
  margin: 0 0 3rem 0;
  color: var(--high-contrast-text);
}

.settingsTabs {
  display: none;
}

@media (min-width: 576px) {
  .settingsDropdown {
    display: none;
  }
}

@media (min-width: 576px) {
  .settingsTabs {
    display: block;
  }
}

@media (max-width: 1020px) {
  .btnsContainer {
    flex-direction: column;
    margin: 1.5rem 0;
  }

  .btnsContainer .input {
    width: 100%;
  }

  .btnsContainer .btnsBlock {
    margin: 1.5rem 0 0 0;
    justify-content: space-between;
  }

  .btnsContainer .btnsBlock button {
    margin: 0;
  }

  .btnsContainer .btnsBlock div button {
    margin-right: 1.5rem;
  }
}

@media (max-width: 520px) {
  .btnsContainer {
    margin-bottom: 0;
  }

  .btnsContainer .btnsBlock {
    display: block;
    margin-top: 1rem;
  }

  .btnsContainer .btnsBlock div {
    flex: 1;
  }

  .btnsContainer .btnsBlock div[title='Sort organizations'] {
    margin-right: 0.5rem;
  }

  .btnsContainer .btnsBlock button {
    margin-bottom: 1rem;
    margin-right: 0;
    width: 100%;
  }
}

@media (max-width: 1120px) {
  .contract {
    padding-left: calc(250px + 2rem + 1.5rem);
  }

  .listBox .itemCard {
    width: 100%;
  }
}

@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
