/**
 * UserEvents — user events tab grid
 */

.peopleTabUserEventsContainer {
  width: 100%;
}

.peoplePageUserEventCardBody {
  display: grid;
  gap: 0.25rem;
  justify-content: center;
  grid-template-columns: repeat(2, minmax(34.375rem, 1fr));
}

.peopleTabNavbarAlignment {
  margin-left: 2.5rem;
}
