.peopleTabUserEventsContainer {
  width: 100%;
}

.peoplePageUserEventCardBody {
  display: grid;
  gap: var(--space-1);
  justify-content: center;
  grid-template-columns: repeat(2, minmax(550px, 1fr));
}

.peopleTabNavbarAlignment {
  margin-left: var(--space-10);
}
