.calendar {
  font-family: sans-serif;
  font-size: 1.2rem;
  margin-bottom: 20px;
}
.calendar__header {
  display: flex;
  margin-bottom: 2rem;
  align-items: center;
}
.calendar__header_month {
  margin: 0.5rem;
  color: #707070;
  font-weight: bold;
}
.button {
  color: #707070;
  background-color: rgba(0, 0, 0, 0);
  font-weight: bold;
  border: 0px;
}
.calendar__weekdays {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  background-color: black;
  height: 60px;
}
.calendar__scroll {
  height: 80vh;
  padding: 10px;
}
.weekday {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  background-color: #31bb6b;
  font-weight: 600;
}
.calendar__days {
  display: grid;
  grid-template-columns: repeat(7, minmax(0, 1fr));
  grid-template-rows: repeat(6, 1fr);
}
.calendar_hour_text_container {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  border-right: 1px solid #8d8d8d55;
  width: 40px;
}
.calendar_hour_text {
  top: -10px;
  left: -5px;
  position: relative;
  color: #707070;
  font-size: 12px;
}
.calendar_timezone_text {
  top: -10px;
  left: -11px;
  position: relative;
  color: #707070;
  font-size: 9px;
}
.calendar_hour_block {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid #8d8d8d55;
  position: relative;
  height: 50px;
  border-bottom-right-radius: 5px;
}
.event_list_parent {
  position: relative;
  width: 100%;
}
.event_list_parent_current {
  background-color: #def6e1;
  position: relative;
  width: 100%;
}
.dummyWidth {
  width: 1px;
}
.day {
  background-color: #ffffff;
  padding-left: 0.3rem;
  padding-right: 0.3rem;
  background-color: white;
  border: 1px solid #8d8d8d55;
  color: #4b4b4b;
  font-weight: 600;
  height: 8rem;
  position: relative;
}
.day__outside {
  background-color: #eeeded;
  color: #898989;
}
.day__selected {
  background-color: #007bff;
  color: #707070;
}
.day__today {
  background-color: #def6e1;
  font-weight: 700;
  text-decoration: underline;
  color: #31bb6b;
}
.day__events {
  background-color: #def6e1;
}
.btn__today {
  transition: ease-in all 200ms;
  font-family: Arial;
  color: #ffffff;
  font-size: 18px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  margin-left: 20px;
  border: none;
}
.selectType {
  padding: 16px 10px 16px 10px;
  border-radius: 10px;
  margin: 0px 5px 0px 5px;
}
.btn__more {
  border: 0px;
  font-size: 14px;
  background-color: initial;
  color: #31bb6b;
  font-weight: 600;
  transition: all 200ms;
  position: relative;
  display: block;
  margin: 2px;
}
.btn__more:hover {
  color: #3ce080;
}

.expand_event_list {
  display: block;
}
.list_container {
  padding: 5px;
  width: fit-content;
  display: flex;
  flex-direction: row;
}
.event_list_hour {
  display: flex;
  flex-direction: row;
}
.expand_list_container {
  width: 200px;
  max-height: 250px;
  z-index: 10;
  position: absolute;
  left: auto;
  right: auto;
  overflow: auto;
  padding: 10px 4px 0px 4px;
  background-color: rgb(241, 241, 241);
  border: 1px solid rgb(201, 201, 201);
  border-radius: 5px;
  margin: 5px;
}
.flex_grow {
  flex-grow: 1;
}

@media only screen and (max-width: 700px) {
  .event_list {
    display: none;
  }
  .expand_list_container {
    width: 150px;
    padding: 4px 4px 0px 4px;
  }
  .day {
    height: 5rem;
  }
}

@media only screen and (max-width: 500px) {
  .btn__more {
    font-size: 12px;
  }
}
