.calendar {
  font-family: sans-serif;
  font-size: 1.2rem;
  margin-bottom: 20px;
  background: rgb(255, 255, 255);
  border-radius: 10px;
  padding: 5px;
}
.calendar__header {
  display: flex;
  margin-bottom: 2rem;
  align-items: center;
  margin: 0px 10px 0px 10px;
}
.input {
  flex: 1;
  position: relative;
}
.calendar__header_month {
  margin: 0.5rem;
  color: #707070;
  font-weight: 800;
  font-size: 55px;
  display: flex;
  gap: 23px;
  flex-direction: row;
}
.calendar__header_month div {
  font-weight: 400;
  color: black;
  font-family: Outfit;
}
.space {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.button {
  border-radius: 100px;
  color: #707070;
  background-color: rgba(194, 247, 182, 0);
  font-weight: bold;
  border: 0px;
  font-size: 20px;
}

.calendar__weekdays {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  background-color: black;
  font-family: Outfit;
  height: 60px;
}
.calendar__scroll {
  height: 80vh;
  padding: 10px;
}
.weekday {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  font-weight: 600;
}
.calendar__days {
  display: grid;
  grid-template-columns: repeat(7, minmax(0, 1fr));
  grid-template-rows: repeat(6, 1fr);
}
.calendar_hour_text_container {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  border-right: 1px solid #8d8d8d55;
  width: 40px;
}
.calendar_hour_text {
  top: -10px;
  left: -5px;
  position: relative;
  color: #707070;
  font-size: 12px;
}
.calendar_timezone_text {
  top: -10px;
  left: -11px;
  position: relative;
  color: #707070;
  font-size: 9px;
}
.calendar_hour_block {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid #8d8d8d55;
  position: relative;
  height: 50px;
  border-bottom-right-radius: 5px;
}
.event_list_parent {
  position: relative;
  width: 100%;
}
.event_list_parent_current {
  background-color: #def6e1;
  position: relative;
  width: 100%;
}
.dummyWidth {
  width: 1px;
}
.day {
  background-color: #ffffff;
  padding-left: 0.3rem;
  padding-right: 0.3rem;
  border-radius: 10px;
  margin: 5px;
  background-color: white;
  border: 1px solid #8d8d8d55;
  color: #4b4b4b;
  font-weight: 600;
  height: 9rem;
  position: relative;
}
.day_weekends {
  background-color: rgba(49, 187, 107, 0.2);
}
.day__outside {
  background-color: white;
  color: #89898996;
}
.day__selected {
  background-color: #007bff;
  color: #707070;
}
.day__today {
  background-color: #def6e1;
  font-weight: 700;
  text-decoration: underline;
  color: #31bb6b;
}
.day__events {
  background-color: white;
}
.btn__today {
  transition: ease-in all 200ms;
  font-family: Arial;
  color: #ffffff;
  font-size: 18px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  margin-left: 20px;
  border: none;
}
.btnsContainer {
  display: flex;
  margin: 2.5rem 0 2.5rem 0;
}

.btnsContainer .btnsBlock {
  display: flex;
}

.btnsContainer .btnsBlock button {
  margin-left: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dropdown {
  border-color: #31bb6b;
  background-color: white;
  color: #31bb6b;
  box-shadow: 0px 2px 1px rgba(49, 187, 107, 0.5); /* Added blur effect */
}

.btnsContainer .input {
  flex: 1;
  position: relative;
}

.btnsContainer input {
  outline: 1px solid var(--bs-gray-400);
}

.btnsContainer .input button {
  width: 52px;
}
.searchBtn {
  margin-bottom: 10px;
}

.inputField {
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: white;
  box-shadow: 0 1px 1px #31bb6b;
}
.inputField > button {
  padding-top: 10px;
  padding-bottom: 10px;
}
.btn__more {
  border: 0px;
  font-size: 14px;
  background-color: initial;
  color: #262727;
  font-weight: 600;
  transition: all 200ms;
  position: relative;
  display: block;
  margin: 2px;
}
.btn__more:hover {
  color: #454645;
}

.expand_event_list {
  display: block;
}
.list_container {
  padding: 5px;
  width: fit-content;
  display: flex;
  flex-direction: row;
}
.event_list_hour {
  display: flex;
  flex-direction: row;
}
.expand_list_container {
  width: 200px;
  max-height: 250px;
  z-index: 10;
  position: absolute;
  left: auto;
  right: auto;
  overflow: auto;
  padding: 10px 4px 0px 4px;
  background-color: rgb(241, 241, 241);
  border: 1px solid rgb(201, 201, 201);
  border-radius: 5px;
  margin: 5px;
}
.flex_grow {
  flex-grow: 1;
}

@media only screen and (max-width: 700px) {
  .event_list {
    display: none;
  }
  .expand_list_container {
    width: 150px;
    padding: 4px 4px 0px 4px;
  }
  .day {
    height: 5rem;
  }
}

@media only screen and (max-width: 500px) {
  .btn__more {
    font-size: 12px;
  }
}

.calendar__infocards {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 10px;
  margin-top: 35px;
}
.card__holidays {
  background-color: rgba(246, 242, 229, 1);
  display: flex;
  flex-direction: column;
  width: 50%;
  font-family: Outfit;
  border-radius: 20px;
  padding: 30px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.month__holidays {
  display: flex;
  flex-direction: column;
}
.holiday__data {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.holiday__date {
  font-size: 20px;
  color: rgba(234, 183, 86, 1);
  font-weight: 700;
}
.holiday__name {
  font-size: 20px;
  margin-left: 35px;
}
.card__events {
  background-color: rgba(244, 244, 244, 1);
  display: flex;
  flex-direction: column;
  width: 50%;
  font-family: Outfit;
  border-radius: 20px;
  padding: 30px;
}
.innercard__events {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}
.innercard__events p {
  margin-bottom: 0;
}
.orgEvent__color {
  height: 15px;
  width: 40px;
  background-color: rgba(82, 172, 255, 0.5);
  border-radius: 10px;
}
.holidays__color {
  height: 15px;
  width: 40px;
  background: rgba(0, 0, 0, 0.15);
  border-radius: 10px;
}

.userEvents__color {
  height: 15px;
  width: 40px;
  background: rgba(146, 200, 141, 0.5);
  border-radius: 10px;
}
