h3,
h4 {
  font-weight: 1000;
}

.stackEvents {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px 20px;
  padding: 10px 20px;
  overflow: hidden;
  gap: 2px;
  column-gap: 2px;
}

.centerText {
  display: flex; /* Use flexbox */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  height: 20rem;
}

.scrollablediv {
  height: 100%; /* Adjust the height as per your requirement */
  overflow-y: auto; /* Add a vertical scrollbar when needed */
  /* Add border for visualization */
  padding: 10px; /* Add padding for better appearance */
}

@media screen and (min-width: 801px) {
  .stackEvents {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0 2rem;
    margin: 0 40px;
    gap: 5px;
    column-gap: 4px;
  }
}

@media screen and (min-width: 768px) and (max-width: 800px) {
  .stackEvents {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0 2rem;
    margin: 0 20px;
    gap: 5px;
    column-gap: 4px;
  }
}
