/**
 * AgendaItemsDeleteModal — delete agenda item confirmation
 */

.agendaItemModal {
  max-width: 80vw;
  margin: 2.5rem auto;
}

@media (max-width: 768px) {
  .agendaItemModal {
    margin: 3rem auto;
    max-width: 90%;
  }
}

@media (max-width: 576px) {
  .agendaItemModal {
    margin: 2.25rem auto;
    max-width: 95%;
  }
}
