:root {
  --color-white: #ffffff;
  --color-black: #000000;

  --color-gray-50: #f8f9fa;
  --color-gray-100: #eaebef;
  --color-gray-200: #d1d5db;
  --color-gray-300: #adb5bd;
  --color-gray-400: #808080;
  --color-gray-500: #707070;
  --color-gray-600: #6c757d;
  --color-gray-700: #4b5563;
  --color-gray-800: #343a40;
  --color-gray-900: #212529;

  --color-blue-100: #d3e3fd;
  --color-blue-200: #a8c7fa;
  --color-blue-500: #1778f2;
  --color-blue-600: #286fe0;
  --color-blue-700: #0056b3;
  --color-blue-800: #0000ff;

  --color-red-100: #f8d6dc;
  --color-red-500: #ff4d4f;

  --color-green-100: #dbf6db;
  --color-green-500: #31bb6b;

  --color-yellow-100: #fff3cd;
  --color-yellow-500: #febc59;
  --color-yellow-600: #856404;
}
