:root {
  --font-size-xs: 0.75rem;
  --font-size-sm: 0.875rem;
  --font-size-15: 0.9375rem;
  --font-size-md: 1rem;
  --font-size-lg: 1.125rem;
  --font-size-19: 1.2rem;
  --font-size-xl: 1.25rem;
  --font-size-2xl: 1.5rem;
  --font-size-28: 1.75rem;
  --font-size-3xl: 2rem;
  --font-size-4xl: 3rem;
  --font-size-5xl: 6.25rem;
  --font-size-6xl: 9.375rem;
  --font-size-7xl: 12.5rem;
  --font-size-8xl: 15.625rem;

  --line-height-none: 1;
  --line-height-tight: 1.2;
  --line-height-normal: 1.5;
  --line-height-loose: 1.6;
  --line-height-relaxed: 1.75;

  --font-weight-lighter: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
  --font-weight-heavy: 800;

  --letter-spacing-tight: -0.01em;
  --letter-spacing-normal: 0;
  --letter-spacing-wide: 0.02em;
  --letter-spacing-wider: 0.0625em;
  --letter-spacing-extra-wide: 1.5625em;
}
