/* PluginStore component styles */

.pageContent {
  padding-right: 1.5rem;
}

.pluginListContainer {
  margin-top: 1.5rem;
}

.paginationContainer {
  margin-top: 2rem;
  display: flex;
  justify-content: end;
}
