.container{
    display: flex;
}

.logintitle {
    color: #707070;
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 30px;
    padding-bottom: 5px;
    border-bottom: 3px solid #31bb6b;
    width: 15%;
}

.actioninput {
    text-decoration: none;
    margin-bottom: 50px;
    border-color: #e8e5e5;
    width: 80%;
    border-radius: 7px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 10px;
    padding-left: 10px;
    box-shadow: none;
}

.actionradio input {
    width: fit-content;
    margin: inherit;
}