.dataGridStyle {
  background-color: var(--rowBackground-bg);
  border-radius: 16px;
}

.dataGridStyle .MuiDataGrid-columnHeaders {
  border: none;
}

.dataGridStyle .MuiDataGrid-cell {
  border: none;
}

.dataGridStyle .MuiDataGrid-columnSeparator {
  display: none;
}

.dataGridStyle .MuiDataGrid-root .MuiDataGrid-cell:focus-within {
  outline: 2px solid var(--primary-theme-color);
  outline-offset: -2px;
}

.dataGridStyle .MuiDataGrid-root .MuiDataGrid-columnHeader:focus-within {
  outline: 2px solid var(--primary-theme-color);
  outline-offset: -2px;
}

.dataGridStyle .MuiDataGrid-row:hover {
  background-color: transparent;
}

.dataGridStyle .MuiDataGrid-row.Mui-hovered {
  background-color: transparent;
}

.dataGridStyle .MuiDataGrid-root {
  border-radius: 0.5rem;
}

.dataGridStyle .MuiDataGrid-main {
  border-radius: 0.5rem;
}

.acceptButton {
  min-width: 32px;
}

.rejectButton {
  min-width: 32px;
}

.rejectIcon {
  font-weight: 900;
}

.textSm {
  font-size: var(--font-size-table-body);
}

.textBold {
  font-weight: 600;
}

.errorContainer {
  background-color: white;
  border-radius: 0.375rem;
  margin: 1rem 0;
}

.errorMessage {
  color: var(--bs-danger);
  text-align: center;
  font-weight: 600;
}
