.background {
  background-image: url('../assets/third_image.png');
  height: 100vh;
  width: 100vw;
  margin: 0;
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-size: cover !important;
}

/* Buttons */
.btn {
  background-color: #febc59;
  padding: 0.5em 1em;
  font-size: 16px;
  color: #000;
  outline: none;
  font-weight: bold;
  border: none;
  border-radius: 1.8em 1.8em 1.8em 1.8em;
  cursor: pointer;
  transition: transform 0.2s, box-shadow 0.2s;
}

.btn:hover {
  transform: translateY((-5px));
  box-shadow: 0 5px 5px #00000040;
}

/* Colors */
.green {
  color: #31bb6b;
}
.blue {
  color: #4285f4;
}
.yellow {
  color: #febc59;
}

