.h_size { 
    font-size: 40px !important;
    font-weight: 30 !important;
}

/* Margin */
.margin_s {
    padding-left: 9em;
    padding-top: 18em;
} 

.margin_s h3 {
    font-weight: 20.0;
}

.margin_s h5 {
    font-weight: 20.0;
    padding-top: 10px;
    font-size: 18px;
    padding-bottom: 20px;
}

.margin_second {
    margin-left: 0.5em;
}

/* Input Decoration */
.input_box {
    border-color: black;
    border-width: 2px;
    height: 30px;
    width: 250px;
    margin-bottom: 20px;
    border-radius: 1em 1em 1em 1em;
    padding-left: 10px;
}