.list_box {
  height: auto;
  overflow-y: auto;
  width: 100%;
}

.inputField {
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: white;
  box-shadow: 0 1px 1px #31bb6b;
}

.inputField > button {
  padding-top: 10px;
  padding-bottom: 10px;
}

.dropdown {
  background-color: white;
  border: 1px solid #31bb6b;
  position: relative;
  display: inline-block;
  color: #31bb6b;
}

.fundName {
  font-weight: 600;
  cursor: pointer;
}

.modalHeader {
  border: none;
  padding-bottom: 0;
}

.label {
  color: var(--bs-emphasis-color);
}

.fundModal {
  max-width: 80vw;
  margin-top: 2vh;
  margin-left: 13vw;
}

.titlemodal {
  color: #707070;
  font-weight: 600;
  font-size: 32px;
  width: 65%;
  margin-bottom: 0px;
}

.noOutline input {
  outline: none;
}

.modalCloseBtn {
  width: 40px;
  height: 40px;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.greenregbtn {
  margin: 1rem 0 0;
  margin-top: 15px;
  border: 1px solid #e8e5e5;
  box-shadow: 0 2px 2px #e8e5e5;
  padding: 10px 10px;
  border-radius: 5px;
  background-color: #31bb6b;
  width: 100%;
  font-size: 16px;
  color: white;
  outline: none;
  font-weight: 600;
  cursor: pointer;
  transition:
    transform 0.2s,
    box-shadow 0.2s;
  width: 100%;
}

.manageBtn {
  margin: 1rem 0 0;
  margin-top: 15px;
  border: 1px solid #e8e5e5;
  box-shadow: 0 2px 2px #e8e5e5;
  padding: 10px 10px;
  border-radius: 5px;
  font-size: 16px;
  color: white;
  outline: none;
  font-weight: 600;
  cursor: pointer;
  width: 45%;
  transition:
    transform 0.2s,
    box-shadow 0.2s;
}

.btnsContainer {
  display: flex;
  margin: 2rem 0 2.5rem 0;
}

.btnsContainer .input {
  flex: 1;
  min-width: 18rem;
  position: relative;
}

.btnsContainer input {
  outline: 1px solid var(--bs-gray-400);
}

.btnsContainer .input button {
  width: 52px;
}

.mainpageright > hr {
  margin-top: 20px;
  width: 100%;
  margin-left: -15px;
  margin-right: -15px;
  margin-bottom: 20px;
}

.rowBackground {
  background-color: var(--bs-white);
  max-height: 120px;
}

.tableHeader {
  background-color: var(--bs-primary);
  color: var(--bs-white);
  font-size: 1rem;
}
