.leftDrawerActiveButton,
.leftDrawerInactiveButton {
  position: relative;
  transition: all 0.2s ease;

  &:active {
    transform: scale(0.98);
  }
}

.sidebarBtn {
  background-color: transparent;
  color: var(--sidebar-option-text-inactive);
  font-weight: normal;
  cursor: pointer;
}

.sidebarBtn:hover {
  background-color: var(--sidebar-option-bg-hover);
  color: var(--sidebar-option-text-active);
}

.sidebarBtnActive {
  background-color: var(--sidebar-option-bg);
  color: var(--sidebar-option-text-active);
  font-weight: bold;
}

.iconWrapper {
  width: var(--space-8-5);
  min-width: var(--space-8-5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.simpleLinkVariant {
  height: var(--space-9);
}

.linkContent {
  display: flex;
  align-items: center;
}
