.recurrenceRuleNumberInput {
  width: var(--space-18);
}

.recurrenceRuleDateBox {
  width: var(--space-20);
}

.endOptionsContainer {
  margin-bottom: var(--space-4);
}

.radioGroupContainer {
  margin-left: var(--space-4);
  margin-top: var(--space-4);
}

.radioOption {
  margin-top: var(--space-1);
  margin-bottom: var(--space-1);
  display: flex;
  align-items: center;
}

.radioLabel {
  display: inline-block;
  margin-right: var(--space-6);
}

.radioLabel :global(.form-check-input) {
  margin-right: var(--space-4);
  margin-top: var(--space-1);
}

.datePickerWrapper {
  margin-left: var(--space-2);
  margin-bottom: var(--space-8);
}

.countInputWrapper {
  margin-left: var(--space-2);
  margin-right: var(--space-3);
  display: inline-block;
  padding-top: var(--space-3);
  padding-bottom: var(--space-3);
}
