.cards h2 {
  font-size: 15px;
  color: #fff;
}
.cards > h3 {
  font-size: 17px;
}
.cards > p {
  font-size: 14px;
  margin-top: 0px;
  margin-bottom: 7px;
}
.cards a {
  color: #fff;
  font-weight: 600;
}
.cards a:hover {
  color: black;
}
.dispflex {
  display: flex;
  justify-content: space-between;
}
.iconContainer {
  display: flex;
}
.icon {
  transform: scale(0.75);
  cursor: pointer;
}

.cards {
  width: 100%;
  background: rgba(40, 167, 69, 1);
  padding: 2px 3px;
  border-radius: 5px;
  border: 1px solid #e8e8e8;
  box-shadow: 0 3px 5px #c9c9c9;
  color: #737373;
  box-sizing: border-box;
}
.cards:last-child:nth-last-child(odd) {
  grid-column: auto / span 2;
}

.cards:first-child:nth-last-child(even),
.cards:first-child:nth-last-child(even) ~ .box {
  grid-column: auto / span 1;
}

form > label {
  font-weight: bold;
  padding-bottom: 1px;
  font-size: 14px;
  color: #707070;
}
form > input {
  display: block;
  margin-bottom: 20px;
  border: 1px solid #e8e5e5;
  box-shadow: 2px 1px #e8e5e5;
  padding: 10px 20px;
  border-radius: 5px;
  background: none;
  width: 100%;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}
.sidebarsticky > input {
  text-decoration: none;
  margin-bottom: 50px;
  border-color: #e8e5e5;
  width: 80%;
  border-radius: 7px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 10px;
  padding-left: 10px;
  box-shadow: none;
}
.datediv {
  display: flex;
  flex-direction: row;
  margin-bottom: 15px;
}
.datebox {
  width: 90%;
  border-radius: 7px;
  border-color: #e8e5e5;
  outline: none;
  box-shadow: none;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-right: 5px;
  padding-left: 5px;
}
.checkboxdiv > label {
  margin-right: 50px;
}
.checkboxdiv > label > input {
  margin-left: 10px;
}
.dispflex {
  display: flex;
}
.dispflex > input {
  width: 20%;
  border: none;
  box-shadow: none;
  margin-top: 5px;
}
.checkboxdiv {
  display: flex;
}
.checkboxdiv > div {
  width: 50%;
}
