.cardsEventListCard {
  background-color: var(--cardsEventListCard-bg);
  color: var(--cardsEventListCard-h2-color);
  font-size: var(--font-size-xs);
  font-weight: var(--font-weight-regular);
  display: flex;
  padding: var(--space-3) var(--space-2);
  border-radius: var(--radius-sm);
  margin-bottom: var(--space-2);
  overflow: hidden;
  cursor: pointer;
  transition: opacity 0.2s;
}

.cardsEventListCard:hover {
  opacity: 0.8;
}

.dispflexEventListCard {
  display: flex;
  align-items: center;
  width: 100%;
}

.eventtitle {
  margin: 0;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  font-size: var(--font-size-xs);
  font-weight: var(--font-weight-regular);
  color: inherit;
}
