.mainpage {
  display: flex;
  flex-direction: row;
}

.sidebar {
  z-index: 0;
  padding-top: 5px;
  margin: 0;
  height: 100%;
}

.sidebar:after {
  content: '';
  background-color: #f7f7f7;
  position: absolute;
  width: 2px;
  height: 600px;
  top: 10px;
  left: 94%;
  display: block;
}

.sidebarsticky {
  padding-left: 45px;
}

.sidebarsticky > input {
  text-decoration: none;
  margin-bottom: 50px;
  border-color: #e8e5e5;
  width: 80%;
  border-radius: 7px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 10px;
  padding-left: 10px;
  box-shadow: none;
}

.navitem {
  padding-left: 27%;
  padding-top: 12px;
  padding-bottom: 12px;
  cursor: pointer;
}

.searchtitle {
  color: #707070;
  font-weight: 600;
  font-size: 18px;
  margin-bottom: 20px;
  padding-bottom: 5px;
  border-bottom: 3px solid #31bb6b;
  width: 60%;
}

.logintitle {
  color: #707070;
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 30px;
  padding-bottom: 5px;
  border-bottom: 3px solid #31bb6b;
  width: 30%;
}

.mainpageright > hr {
  margin-top: 20px;
  width: 100%;
  margin-left: -15px;
  margin-right: -15px;
  margin-bottom: 20px;
}

.justifysp {
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 575.5px) {
  .justifysp {
    padding-left: 55px;
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .mainpageright {
    width: 100%;
  }
}

.list_box {
  height: 70vh;
  overflow-y: auto;
  width: auto;
  padding-right: 50px;
}

@media only screen and (max-width: 600px) {
  .sidebar {
    position: relative;
    bottom: 18px;
  }

  .invitebtn {
    width: 135px;
    position: relative;
    right: 10px;
  }

  .userListTable {
    margin-left: 40px;
  }
}

/* Loader CSS */

.loader,
.loader:after {
  border-radius: 50%;
  width: 10em;
  height: 10em;
}

.loader {
  margin: 60px auto;
  margin-top: 35vh !important;
  font-size: 10px;
  position: relative;
  text-indent: -9999em;
  border-top: 1.1em solid rgba(255, 255, 255, 0.2);
  border-right: 1.1em solid rgba(255, 255, 255, 0.2);
  border-bottom: 1.1em solid rgba(255, 255, 255, 0.2);
  border-left: 1.1em solid #febc59;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
}

@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
