.userImage {
  display: flex;
  width: 50px;
  height: 50px;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border-radius: 50%;
  position: relative;
  border: 2px solid #31bb6b;
}

.userImage img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  scale: 1.5;
}

.preview {
  display: flex;
  position: relative;
  width: 100%;
  margin-top: 10px;
  justify-content: center;
  overflow: hidden;
  border-radius: 1rem;
}
.preview img {
  width: 400px;
  height: auto;
}
.preview video {
  width: 400px;
  height: auto;
}

.icons {
  width: 25px;
}

.icons svg {
  stroke: #000;
}

.icons.dark {
  cursor: pointer;
  border: none;
  outline: none;
  background-color: transparent;
}

.icons.dark svg {
  stroke: #000;
}
