.loader,
.loader:after {
  border-radius: 50%;
  width: var(--loader-size);
  height: var(--loader-size);
}

.loader {
  margin: 35vh auto var(--space-11) auto;
  font-size: var(--space-3);
  position: relative;
  text-indent: -9999em;
  border-top: 1.1em solid var(--loader-border);
  border-right: 1.1em solid var(--loader-border);
  border-bottom: 1.1em solid var(--loader-border);
  border-left: 1.1em solid var(--loader-border-left);
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
}

@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.stackEvents {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: var(--space-4) var(--space-6);
  padding: var(--space-4) var(--space-6);
  overflow: hidden;
  gap: var(--space-1);
  column-gap: var(--space-1);
}

@media screen and (min-width: 768px) {
  .stackEvents {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: var(--space-0) var(--space-8);
    margin: var(--space-0) var(--space-6);
    gap: var(--space-3);
    column-gap: var(--space-2);
  }
}

@media screen and (min-width: 820px) {
  .stackEvents {
    margin: var(--space-0) var(--space-9);
  }
}

.headerPrimary {
  background-color: var(--primary);
}
