.mainContainer {
<<<<<<< HEAD
  width: 49%;
  height: 8rem;
  min-width: max-content;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  padding: 1rem;
  background-color: white;
  border: 1px solid #dddddd;
  border-radius: 10px;
  overflow: hidden;
}

.img {
  height: 100%;
  aspect-ratio: 1/1;
  background-color: rgba(49, 187, 107, 12%);
}

.btn {
  display: flex;
  align-items: flex-end;
}

.btn button {
  padding-inline: 2rem !important;
  border-radius: 5px;
}

=======
  width: 100%;
  display: flex;
  flex-direction: row;
  padding: 10px;
  cursor: pointer;
  background-color: white;
  border-radius: 10px;
  box-shadow: 2px 2px 8px 0px #c8c8c8;
  overflow: hidden;
}

>>>>>>> a320d35e91b2a3d10a9143384969dba0973c37f1
.personDetails {
  display: flex;
  flex-direction: column;
  justify-content: center;
<<<<<<< HEAD
  min-width: max-content;
=======
>>>>>>> a320d35e91b2a3d10a9143384969dba0973c37f1
}

.personImage {
  border-radius: 50%;
  margin-right: 20px;
}
