/* EventListCardDeleteModal.module.css */

.addButton {
  margin-bottom: var(--space-2);
  color: var(--addButton-font);
  background-color: var(--addButton-bg);
  border-color: var(--addButton-bg);
}

.addButton:is(:hover, :active, :focus) {
  background-color: var(--color-blue-500);
  border-color: var(--addButton-border-hover);
}

.addButton:disabled {
  background-color: var(--disabled-btn);
  border-color: var(--addButton-bg);
}

.removeButton {
  margin-bottom: var(--space-2);
  background-color: var(--removeButton-bg);
  color: var(--removeButton-color);
  margin-right: var(--space-2);
  border-color: var(--removeButton-border);
}

.removeButton:is(:hover, :active, :focus) {
  background-color: var(--removeButton-bg-hover);
  border-color: var(--removeButton-border-hover);
  color: var(--removeButton-color-hover);
}
