@media screen and (max-width: 575.5px) {
  .mainpageright {
    width: 98%;
  }
}
.actionItemModal {
  max-width: 80vw;
  margin-top: 2vh;
  margin-left: 13vw;
}
.modalContent {
  width: 670px;
  max-width: 680px;
}
.dropdown {
  background-color: white;
  border: 1px solid #31bb6b;
  position: relative;
  display: inline-block;
  margin-top: 10px;
  margin-bottom: 10px;
  color: #31bb6b;
}
.input {
  flex: 1;
  position: relative;
}

.btnsContainer {
  display: flex;
  margin: 2.5rem 0 2.5rem 0;
}

.btnsContainer .btnsBlock {
  display: flex;
}

.btnsContainer .btnsBlock button {
  margin-left: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btnsContainer .input {
  flex: 1;
  position: relative;
}

/* input {
  outline: 1px solid var(--bs-gray-400);
} */

.btnsContainer .input button {
  width: 52px;
}

.inputField {
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: white;
  box-shadow: 0 1px 1px #31bb6b;
}
.inputFieldModal {
  margin-bottom: 10px;
  background-color: white;
  box-shadow: 0 1px 1px #31bb6b;
}
.inputField > button {
  padding-top: 10px;
  padding-bottom: 10px;
}
.TableImage {
  object-fit: cover;
  width: 50px !important;
  height: 50px !important;
  border-radius: 100% !important;
}
.datagrid {
  overflow: auto;
  border-radius: 10px;
}
.tableHead {
  background-color: #31bb6b !important;
  color: white;
  border-radius: 20px !important;
  padding: 20px;
  margin-top: 20px;
}

.tableHead :nth-first-child() {
  border-top-left-radius: 20px;
}

.mainpageright > hr {
  margin-top: 10px;
  width: 100%;
  margin-left: -15px;
  margin-right: -15px;
  margin-bottom: 20px;
}
.rowBackground {
  background-color: var(--bs-white);
}
.tableHeader {
  color: var(--bs-black);
  font-size: var(--bs-body-font-size);
}
.addButton {
  width: 7em;
  position: absolute;
  right: 1rem;
  top: 1rem;
}

.createModal {
  margin-top: 20vh;
  margin-left: 13vw;
  max-width: 80vw;
}

.icon {
  transform: scale(1.5);
  color: var(--bs-danger);
  margin-bottom: 1rem;
}

.message {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.titlemodal {
  color: var(--bs-gray-600);
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 20px;
  padding-bottom: 5px;
  border-bottom: 3px solid var(--bs-primary);
  width: 65%;
}

.editDelBtns {
  margin-top: 15px;
  border: 1px solid var(--bs-gray-300);
  box-shadow: 0 2px 2px var(--bs-gray-300);
  padding: 10px 10px;
  border-radius: 5px;
  background-color: var(--bs-primary);
  width: 100%;
  font-size: 16px;
  color: var(--bs-white);
  outline: none;
  font-weight: 600;
  cursor: pointer;
  transition:
    transform 0.2s,
    box-shadow 0.2s;
  width: 100%;
}

.greenregbtn {
  margin-left: 93%;
}

.datatable {
  margin-top: 5rem;
}

.datediv {
  display: flex;
  flex-direction: row;
}
.datebox {
  width: 90%;
  border-radius: 7px;
  outline: none;
  box-shadow: none;
}
.actionItemsOptionsButton {
  width: 24px;
  height: 24px;
}

@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
