.settingsContainer {
  min-height: 100vh;
}

.settingsBody {
  min-height: 100vh;
  margin: 2.5rem 1rem;
}

.cardHeader {
  padding: 1.25rem 1rem 1rem 1rem;
  border-bottom: 1px solid var(--bs-gray-200);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cardHeader .cardTitle {
  font-size: 1.2rem;
  font-weight: 600;
}

.cardBody {
  min-height: 180px;
}

.cardBody .textBox {
  margin: 0 0 3rem 0;
  color: var(--bs-secondary);
}

hr {
  border: none;
  height: 1px;
  background-color: var(--bs-gray-500);
}

.settingsTabs {
  display: none;
}

@media (min-width: 577px) {
  .settingsDropdown {
    display: none;
  }
}

@media (min-width: 577px) {
  .settingsTabs {
    display: block;
  }
}
