.cardStyles {
  height: 30rem;
  max-height: 31rem;
  width: 22rem;
  background-color: white;
  padding: 0;
  border: none !important;
  outline: none !important;
}

.cardHeader {
  display: flex;
  padding-inline: 1rem;
  padding-block: 0;
  flex-direction: row;
  gap: 0.5rem;
  align-items: center;
  background-color: white;
  & > p {
    margin-bottom: 0;
    font-weight: 500;
  }
  & > svg {
    width: 2rem;
    height: 2rem;
  }
}

.cardBody {
  div {
    padding: 0.5rem;
  }
}

.imageContainer {
  max-width: 100%;
}

.cardTitle {
  font-size: 1.3rem !important;
  height: 1.5rem !important;
  overflow: hidden;
  font-weight: 600;
  position: relative;
  display: inline-block;
}
.cardTitle::after {
  position: absolute;
  background-color: white;
  min-width: 1rem;
  bottom: 0;
  right: 0;
  content: '...';
}

.date {
  font-weight: 600;
}

.cardText {
  max-height: 3rem;
  padding-top: 0;
  font-weight: 300;
  margin-top: 0.7rem !important;
  overflow: hidden;
  position: relative;
  display: inline-block;
  text-align: justify;
}
.cardText::after {
  position: absolute;
  background-color: white;
  min-width: 1rem;
  bottom: 0;
  right: 0;
  content: '...';
}

.viewBtn {
  display: flex;
  justify-content: flex-end;
  margin: 0.5rem;
  button {
    padding-inline: 1rem;
  }
}

.cardActions {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1px;
  justify-content: flex-end;
}

.cardActionBtn {
  background-color: rgba(0, 0, 0, 0);
  padding: 0;
  border: none;
  color: black;
}

.cardActionBtn:hover {
  background-color: ghostwhite;
  border: none;
  color: black !important;
}

.creatorNameModal {
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: center;
  margin-bottom: 10px;
}

.modalActions {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  margin: 5px 0px;
}

.textModal {
  margin-top: 10px;
}

.colorPrimary {
  background: #31bb6b;
  color: white;
  cursor: pointer;
}

.commentContainer {
  overflow: auto;
  max-height: 18rem;
  padding-bottom: 1rem;
}

.modalFooter {
  position: absolute;
  width: calc(100% - 1rem);
  padding-block: 0.5rem;
  display: flex;
  flex-direction: column;
  border-top: 1px solid #dddddd;
  bottom: 0;
  right: 0.5rem;
  margin-left: 1rem;
}

.inputArea {
  border: none;
  outline: none;
  background-color: #f1f3f6;
}
