.cardStyles {
  height: 28rem;
  max-height: 30rem;
  width: 20rem;
  background-color: white;
  padding: 0;
  border: none !important;
  outline: none !important;
}

.cardHeader {
  display: flex;
  width: 100%;
  padding-inline: 0;
  padding-block: 0;
  flex-direction: row;
  gap: 0.5rem;
  align-items: center;
  background-color: white;
  border-bottom: 1px solid #dddddd;
}

.creator {
  display: flex;
  width: 100%;
  padding-inline: 1rem;
  padding-block: 0;
  flex-direction: row;
  gap: 0.5rem;
  align-items: center;
}
.creator p {
  margin-bottom: 0;
  font-weight: 500;
}
.creator svg {
  width: 2rem;
  height: 2rem;
}

.customToggle {
  padding: 0;
  background: none;
  border: none;
  margin-right: 1rem;
  --bs-btn-active-bg: none;
}
.customToggle svg {
  color: black;
}

.customToggle::after {
  content: none;
}
.customToggle:hover,
.customToggle:focus,
.customToggle:active {
  background: none;
  border: none;
}
.customToggle svg {
  color: black;
}

.cardBody div {
  padding: 0.5rem;
}

.imageContainer {
  max-width: 100%;
}

.cardTitle {
  --max-lines: 1;
  display: -webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: var(--max-lines);

  font-size: 1.3rem !important;
  font-weight: 600;
}

.date {
  font-weight: 600;
}

.cardText {
  --max-lines: 2;
  display: -webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: var(--max-lines);

  padding-top: 0;
  font-weight: 300;
  margin-top: 0.7rem !important;
  text-align: justify;
}

.viewBtn {
  display: flex;
  justify-content: flex-end;
  margin: 0.5rem;
}
.viewBtn Button {
  padding-inline: 1rem;
}

.cardActions {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1px;
  justify-content: flex-end;
}

.cardActionBtn {
  background-color: rgba(0, 0, 0, 0);
  padding: 0;
  border: none;
  color: black;
}

.cardActionBtn:hover {
  background-color: ghostwhite;
  border: none;
  color: black !important;
}

.creatorNameModal {
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: center;
  margin-bottom: 10px;
}

.modalActions {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  margin: 5px 0px;
}

.textModal {
  margin-top: 10px;
}

.colorPrimary {
  background: #31bb6b;
  color: white;
  cursor: pointer;
}

.commentContainer {
  overflow: auto;
  max-height: 18rem;
  padding-bottom: 1rem;
}

.modalFooter {
  background-color: white;
  position: absolute;
  width: calc(100% - 1rem);
  padding-block: 0.5rem;
  display: flex;
  flex-direction: column;
  border-top: 1px solid #dddddd;
  bottom: 0;
  right: 0.5rem;
  margin-left: 1rem;
}

.inputArea {
  border: none;
  outline: none;
  background-color: #f1f3f6;
}
