.borderNone {
  border: none;
}

.colorWhite {
  color: white;
}

<<<<<<< HEAD
=======
.maxWidth {
  max-width: 300px;
}

>>>>>>> a320d35e91b2a3d10a9143384969dba0973c37f1
.colorLight {
  background-color: #f5f5f5;
}

.mainContainer {
<<<<<<< HEAD
  width: 75%;
  padding: 20px;
=======
  width: 50%;
  flex-grow: 3;
  padding: 40px;
>>>>>>> a320d35e91b2a3d10a9143384969dba0973c37f1
  max-height: 100%;
  overflow: auto;
}

.content {
  height: fit-content;
  min-height: calc(100% - 40px);
}

<<<<<<< HEAD
=======
.gap {
  gap: 20px;
}

>>>>>>> a320d35e91b2a3d10a9143384969dba0973c37f1
.paddingY {
  padding: 30px 0px;
}

.containerHeight {
  height: calc(100vh - 66px);
}

.colorPrimary {
  background: #31bb6b;
}

.backgroundWhite {
  background-color: white;
}
<<<<<<< HEAD

.input {
  flex: 1;
  position: relative;
  margin-right: 10px;
}

.btnsContainer input {
  outline: 1px solid var(--bs-gray-400);
}

@media screen and (max-width: 850px) {
  .mainContainer {
    width: 100%;
  }
}
=======
>>>>>>> a320d35e91b2a3d10a9143384969dba0973c37f1
