.borderNone {
  border: none;
}

.colorWhite {
  color: white;
}

.maxWidth {
  max-width: 300px;
}

.mainContainer {
  width: 50%;
  flex-grow: 3;
  padding: 40px;
  max-height: 100%;
  overflow: auto;
}

.content {
  height: fit-content;
  min-height: calc(100% - 120px);
}

.gap {
  gap: 20px;
}

.paddingY {
  padding: 30px 0px;
}

.containerHeight {
  height: 100vh;
}

.colorPrimary {
  background: #31bb6b;
}

.backgroundWhite {
  background-color: white;
}
