.cards h2 {
  font-size: 20px;
}
.cards > h3 {
  font-size: 17px;
}
.postimage {
  border-radius: 6px;
  width: 100%;
  max-width: 240px;
  height: 150px;
  max-height: 250px;
}
.cards > p {
  font-size: 14px;
  margin-top: 0px;
  margin-bottom: 7px;
}
.cards a {
  color: #737373;
  font-weight: 600;
}
.cards a:hover {
  color: black;
}
.infodiv {
  margin-bottom: 7px;
}
.infodiv > p {
  margin: 0;
}
.dispflex {
  display: flex;
  justify-content: space-between;
}
.iconContainer {
  display: flex;
}
.icon {
  transform: scale(0.75);
  cursor: pointer;
}

.cards {
  width: 75%;
  background: #fcfcfc;
  margin: 10px 40px;
  padding: 20px 30px;
  border-radius: 5px;
  border: 1px solid #e8e8e8;
  box-shadow: 0 3px 5px #c9c9c9;
  margin-right: 30px;
  color: #737373;
  box-sizing: border-box;
}
.cards:last-child:nth-last-child(odd) {
  grid-column: auto / span 2;
}

.cards:first-child:nth-last-child(even),
.cards:first-child:nth-last-child(even) ~ .box {
  grid-column: auto / span 1;
}

.toggleClickBtn {
  color: #31bb6b;
  cursor: pointer;
  border: none;
  font-size: 12px;
  background-color: white;
}

.toggleClickBtnNone {
  display: none;
}
