.userupdatediv {
  padding: var(--space-7) var(--space-5);
  background: var(--white-color);
}

.dispflexUserPasswordUpdate {
  display: flex;
  justify-content: flex-start;
  margin: 0 auto;
}

.dispflexUserPasswordUpdate > div {
  width: 50%;
  margin-right: var(--space-3-125);
}

.dispbtnflex {
  width: 90%;
  display: flex;
  margin: var(--space-6) 30% 0 30%;
}

.whitebtn {
  margin: var(--space-5) 0 0;
  margin-top: var(--space-3);
  border: var(--border-1) solid var(--whitebtn-border);
  box-shadow: 0 2px 2px var(--whitebtn-box-shadow);
  padding: var(--space-3) var(--space-6);
  background-color: var(--color-white);
  border-radius: var(--radius-6);
  cursor: pointer;
}

.regBtn {
  margin-top: var(--space-5);
  border: var(--border-1) solid var(--regBtn-border);
  box-shadow: 0 2px 2px var(--regBtn-box-shadow);
  padding: var(--space-3) var(--space-3);
  border-radius: var(--radius-6);
  background-color: var(--regBtn-bg);
  width: 100%;
  font-size: var(--font-size-md);
  color: var(--regBtn-color);
  outline: none;
  font-weight: var(--font-weight-semibold);
  cursor: pointer;
}
