.userupdatediv {
  composes: userupdatediv from '../../style/app-fixed.module.css';
}

.settingstitle {
  composes: settingstitle from '../../style/app-fixed.module.css';
}

.dispflexUserPasswordUpdate {
  composes: dispflexUserPasswordUpdate from '../../style/app-fixed.module.css';
}

.dispbtnflex {
  composes: dispbtnflex from '../../style/app-fixed.module.css';
}

.regBtn {
  composes: regBtn from '../../style/app-fixed.module.css';
}

.whitebtn {
  composes: whitebtn from '../../style/app-fixed.module.css';
}
