.btnBase {
  outline: none;
  font-weight: var(--font-weight-semibold);
  cursor: pointer;
  border-radius: var(--space-2);
  transition:
    transform 0.2s,
    box-shadow 0.2s;
}

.userupdatediv {
  padding: var(--space-7) var(--space-5);
  background: var(--white-color);
}

.dispflexUserPasswordUpdate {
  display: flex;
  justify-content: flex-start;
  margin: 0 auto;
}

.dispbtnflex {
  width: 90%;
  display: flex;
  margin: var(--space-6) 30% 0 30%;
}

.regBtn {
  margin-top: var(--space-5);
  border: var(--border-1) solid var(--regBtn-border);
  box-shadow: 0 2px 2px var(--regBtn-box-shadow);
  padding: var(--space-4);
  background-color: var(--regBtn-bg);
  width: 100%;
  font-size: var(--font-size-md);
  color: var(--regBtn-color);
}

.whitebtn {
  composes: btnBase;
  margin: var(--space-5) 0 0;
  border: var(--border-1) solid var(--whitebtn-border);
  box-shadow: 0 2px 2px var(--whitebtn-box-shadow);
  padding: var(--space-4) var(--space-6);
  background: none;
  width: 20%;
  font-size: var(--font-size-md);
  color: var(--whitebtn-color);
  float: left;
}
