.errorContainer {
  min-height: 100vh;
}

.errorMessage {
  margin-top: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.errorIcon {
  font-size: var(--error-icon-size, var(--font-size-26));
  color: var(--bs-danger, var(--errorIcon-color));
  margin-bottom: var(--space-5);
}

.errorIcon::before {
  content: '⚠️';
  margin-right: var(--space-3);
}

.tableHeader {
  background-color: var(--tableHeader-bg);
  color: var(--tableHeader-color);
}

.editButton {
  background-color: var(--editButton-bg);
  color: var(--editButton-font);
  border: var(--border-1) solid var(--editButton-border);
}

.editButton:is(:hover, :active) {
  background-color: var(--editButton-bg-hover);
  border: var(--border-1) solid var(--editButton-border-hover);
}

.removeButton {
  background-color: var(--removeButton-bg);
  color: var(--removeButton-color);
  border: none;
  border-radius: var(--radius-sm);
  padding: var(--space-2) var(--space-3);
  cursor: pointer;
}

.removeButton:is(:hover, :active, :focus) {
  background-color: var(--removeButton-bg-hover) !important;
  color: var(--removeButton-color-hover) !important;
}

.addButton {
  margin-bottom: var(--space-5);
  color: var(--addButton-font);
  background-color: var(--light-blue);
  border-color: var(--addButton-bg);
  --bs-btn-focus-box-shadow: none;
}

.addButton:is(:hover, :active, :focus) {
  background-color: var(--addButton-bg-hover) !important;
  border-color: var(--addButton-border-hover);
}

.modalHeader {
  display: flex !important;
  justify-content: space-between !important;
  align-items: center !important;
  background-color: var(--modalHeader-bg) !important;
  border-bottom: var(--border-4) solid var(--addButton-bg) !important;
  padding: var(--space-5) !important;
}

.scrollContainer {
  height: var(--space-100);
  overflow-y: auto;
  margin-bottom: var(--space-5);
}

.memberBadge {
  display: flex;
  align-items: center;
  padding: var(--space-2) var(--space-3);
  border-radius: var(--radius-20);
  box-shadow: 0 1px 3px var(--memberBadge-box-shadow);
  max-width: calc(100% - var(--space-8));
}

.removeFilterIcon {
  cursor: pointer;
}

.loadingDiv {
  min-height: var(--space-20);
  display: flex;
  justify-content: center;
  align-items: center;
}

.rowBackground {
  background-color: var(--rowBackground-bg);
  color: var(--rowBackground-color);
  max-height: var(--space-14);
  overflow-y: auto;
}
