.entrytoggle {
  margin: 24px 24px 0 auto;
  width: fit-content;
}

.entryaction {
  display: flex !important;
}

.entryaction i {
  margin-right: 8px;
}

.entryaction .spinner-grow {
  height: 1rem;
  width: 1rem;
  margin-right: 8px;
}

.buttons {
  display: flex;
  justify-content: space-between;
}
