.entrytoggle {
  margin: 24px 24px 0 auto;
  width: fit-content;
}

.entryaction {
  margin-left: auto;
  display: flex !important;
  align-items: center;
}

.entryaction i {
  margin-right: 8px;
}

.entryaction .spinner-grow {
  height: 1rem;
  width: 1rem;
  margin-right: 8px;
}

.adimage {
  object-fit: cover;
  height: 20rem;
}
