body::before {
  content: none !important;
}

.leftPane {
  align-items: center;
  width: 60%;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.palisadoesImage {
  width: 100%;
  height: auto;
  max-width: 700px;
}

.talawaImage {
  width: 40%;
  height: auto;
  margin-left: 50%;
  transform: translateX(-50%);
}

.mainContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  min-height: 100vh;
}

.contentContainer {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px 50px;
  background-color: var(--bs-white);
}

@media only screen and (max-width: 800px) {
  .leftPane {
    width: 100%;
  }
}
