body::before {
  content: none !important;
}

.leftPane {
  align-items: center;
  width: 60%;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.palisadoesImage {
  width: 100%;
  height: auto;
  max-width: 700px;
}

.talawaImage {
  width: 40%;
  height: auto;
  margin-left: 50%;
  transform: translateX(-50%);
}

.mainContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  min-height: 100vh;
}

.contentContainer {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0px 10px;
  background-color: var(--bs-white);
  -webkit-animation: fadeIn 0.3s ease-in-out;
  animation: fadeIn 0.3s ease-in-out;
}

@media only screen and (max-width: 800px) {
  .leftPane {
    width: 100%;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
    -webkit-transform: translateY(2rem);
    transform: translateY(2rem);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    -webkit-transform: translateY(2rem);
    transform: translateY(2rem);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
