body::before {
  content: none !important;
}

.leftPane {
  align-items: center;
  width: 60%;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.palisadoesImage {
  width: 100%;
  height: auto;
  max-width: 700px;
}

.talawaImage {
  width: 40%;
  height: auto;
  margin-left: 50%;
  transform: translateX(-50%);
}

.mainContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  min-height: 100vh;
}

.contentContainer {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px 50px;
  background-color: var(--bs-white);
}

@media only screen and (max-width: 800px) {
  .leftPane {
    width: 100%;
  }

  .socialIcons {
    margin-bottom: 1rem;
  }
}

.socialIcons {
  display: flex;
  gap: 16px;
  justify-content: center;
}

.socialIcon {
  font-size: 30px;
  cursor: pointer;
}

.twitterIcon {
  color: #1da1f2;
}

.facebookIcon {
  color: #1877f2;
}

.linkedinIcon {
  color: #0a66c2;
}

.githubIcon {
  color: #211f1f;
}

.youtubeIcon {
  color: #ff0000;
}
