.modalBase {
  composes: modalBase from './ManageTag.module.css';
}

.manageMode {
  composes: manageMode from './ManageTag.module.css';
}

.footerActions {
  composes: footerActions from './ManageTag.module.css';
}

.actionRow {
  composes: actionRow from './ManageTag.module.css';
}

.editButton {
  composes: editButton from './ManageTag.module.css';
}

.deleteButton {
  composes: deleteButton from './ManageTag.module.css';
}

.viewButton {
  composes: viewButton from './ManageTag.module.css';
}

.fieldRow {
  composes: fieldRow from './ManageTag.module.css';
}
