.orgCard {
  background-color: var(--bs-white);
  margin: 0.5rem;
  height: calc(120px + 2rem);
  padding: 1rem;
  border-radius: 8px;
  outline: 1px solid var(--bs-gray-200);
  position: relative;
}

.orgCard .innerContainer {
  display: flex;
}

.orgCard .innerContainer .orgImgContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  border-radius: 4px;
}

.orgCard .innerContainer .orgImgContainer {
  width: 125px;
  height: 120px;
  object-fit: contain;
}

.orgCard .innerContainer .orgImgContainer {
  width: 125px;
  height: 120px;
  background-color: var(--bs-gray-200);
}

.orgCard .innerContainer .content {
  flex: 1;
  margin-left: 1rem;
  width: 70%;
  margin-top: 0.7rem;
}

.orgCard button {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  z-index: 1;
}

.flaskIcon {
  margin-top: 4px;
}

.manageBtn {
  display: flex;
  justify-content: space-around;
  width: 8rem;
  background-color: var(--grey-bg-color) !important;
  color: black !important;
  border: 1px solid var(--dropdown-border-color);
}

.orgName {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-size: 1rem;
}

.orgdesc {
  font-size: 0.9rem;
  color: var(--bs-gray-600);
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  line-clamp: 1;
  -webkit-box-orient: vertical;
  max-width: 20rem;
}

.orgadmin {
  font-size: 0.9rem;
}

.orgmember {
  font-size: 0.9rem;
}

.address {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  line-clamp: 1;
  -webkit-box-orient: vertical;
  align-items: center;
}

.address h6 {
  font-size: 0.9rem;
  color: var(--bs-gray-600);
}

@media (max-width: 580px) {
  .orgCard {
    height: unset;
    margin: 0.5rem 0;
    padding: 1.25rem 1.5rem;
  }

  .orgCard .innerContainer {
    flex-direction: column;
  }

  .orgCard .innerContainer .orgImgContainer {
    margin-bottom: 0.8rem;
  }

  .orgCard .innerContainer .orgImgContainer img {
    height: auto;
    width: 100%;
  }

  .orgCard .innerContainer .content {
    margin-left: 0;
  }

  .orgCard button {
    bottom: 0;
    right: 0;
    position: relative;
    margin-left: auto;
    display: block;
  }

  .flaskIcon {
    margin-bottom: 6px;
  }

  .manageBtn {
    display: flex;
    justify-content: space-around;
    width: 100%;
  }
}
