.orgCard {
  background-color: var(--bs-white);
  margin: 0.5rem;
  height: calc(120px + 2rem);
  padding: 1rem;
  border-radius: 8px;
  outline: 1px solid var(--bs-gray-200);
  display: flex;
  position: relative;
}

.orgCard .orgImgContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.orgCard .orgImgContainer img {
  width: 125px;
  height: 120px;
  object-fit: contain;
  background-color: var(--bs-gray-200);
}

.orgCard .content {
  flex: 1;
  margin-left: 1rem;
}

.orgCard button {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
}
