.wrappage {
  display: flex;
  flex-direction: column;
}

.main {
  background: #fdfdfd;
  border: 1px solid #e1e1e1;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  height: 100%;
  margin-right: 10px;
  margin-left: 170px;
  margin-top: -88vh;
  display: flex;
  flex-direction: column;
}
.align_row {
  display: flex;
  flex-direction: row;
}
.alignimg {
  border-radius: 50%;
  margin-left: 30px;
  margin-top: 15px;
  margin-bottom: 15px;
  background-blend-mode: darken;
}
.orginfomain {
  margin-top: 27px;
  width: 100%;
  justify-content: space-between;
  display: flex;
  flex-direction: row;
}
.orginfomain > h6 {
  margin-right: 30px;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 22px;
  color: #000000;
}
.orginfo {
  margin-left: 30px;
  display: flex;
  flex-direction: column;
}
.orginfo > h4 {
  height: 31px;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 31px;
  color: #000000;
}

.orginfo > h5 {
  height: 24px;
  font-style: normal;
  font-weight: normal;
  font-size: 15 px;
  line-height: 24px;
  color: #393939;
}

.main > hr {
  width: 96%;
  content: '';
  background-color: #c9c3c3;
  margin-left: 2%;
  margin-right: 2%;
  transform: rotate(180deg);
}

.box {
  margin-top: 10px;
  margin-left: 20px;
  margin-right: 20px;
  box-sizing: border-box;
  border-radius: 10px;
  margin-bottom: 10px;
}

.box > h5 {
  height: 15px;
  margin-top: 5px;
  margin-left: 25px;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 24px;
  color: #000000;
}

.box > p {
  width: 95%;
  margin-top: 20px;
  margin-left: 25px;
  font-size: 12px;
}

.box > hr {
  width: 96%;
  margin-top: 25px;
  margin-left: 2%;
  margin-right: 2%;
  fill: #393939;
  border: 1px solid #c9c3c3;
  transform: rotate(180deg);
}

.second_box {
  box-sizing: border-box;
  border-radius: 10px;
  margin-top: 20px;
  margin-left: 45px;
}
.second_box > h5 {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  color: #000000;
}
.ownerdata {
  display: flex;
  flex-direction: row;
}
.ownerdata > img {
  height: 55px;
  border-radius: 50%;
  margin-top: 15px;
  margin-bottom: 15px;
  background-blend-mode: darken;
}
.ownerdata_inner {
  width: 100%;
  justify-content: space-between;
  display: flex;
  flex-direction: row;
  margin-top: 26px;
}
.ownerinfo_one {
  margin-left: 25px;
}
.ownerinfo_one > h4 {
  font-size: 16px;
}
.ownerinfo_one > h5 {
  font-size: 13px;
  margin-top: 3px;
  color: #393939;
  font-style: normal;
  font-weight: normal;
}
.ownerinfo_two {
  margin-right: 17%;
}
.ownerinfo_two h5 {
  font-size: 14px;
  margin-top: 7px;
  color: black;
  margin-bottom: 3px;
  font-style: normal;
  font-weight: normal;
}
.second_box > h6 {
  width: 128px;
  height: 19.57px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  margin-left: 115px;
  margin-top: 20px;
  color: #393939;
}
.second_box > hr {
  width: 96%;
  margin-top: 15px;
  fill: #393939;
  border: 1px solid #c9c3c3;
  transform: rotate(180deg);
}

.margin_third {
  margin-top: 60px !important;
}

.third_box {
  box-sizing: border-box;
  border-radius: 10px;
  margin-top: 20px;
  margin-left: 45px;
}

.third_box > h5 {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  color: #000000;
}
.interests_data {
  margin-top: 20px;
  margin-bottom: 25px;
  display: flex;
  flex-direction: row;
}
.interests_data_odd {
  font-size: 15px;
  font-weight: bold;
  background: #febc59;
  margin-left: 40vw;
  border-radius: 20px;
  border-color: #febc59;
  padding: 7px 14px 7px 14px;
  text-decoration: none;
}
.interests_data_even {
  font-size: 15px;
  font-weight: bold;
  margin-right: 5px;
  margin-left: 5px;
  background: #31bb6b;
  border-radius: 20px;
  padding: 7px 12px 7px 12px;
}

.third_box > hr {
  width: 96%;
  margin-top: 15px;
  fill: #393939;
  border: 1px solid #c9c3c3;
  transform: rotate(180deg);
}
.forth_box {
  box-sizing: border-box;
  border-radius: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 45px;
}
.forth_box > h5 {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  color: #000000;
  margin-bottom: 10px;
}

.link_data {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.left_style {
  margin-left: 2%;
  margin-top: 10px;
}
.left_style > a {
  padding-right: 10px;
  margin-bottom: 7px;
}
.link_data h2 {
  font-size: 15px;
  color: black;
  margin-left: 10px;
  margin-top: 5px;
  font-weight: normal;
}
.link_data h2:hover {
  text-decoration: underline;
}
@media screen and (max-width: 1023px) {
  .link_data {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .right_style {
    margin-left: 2%;
    margin-top: 7px;
  }
}
@media screen and (max-width: 900px) {
  .ownerinfo_two {
    margin-right: 22px;
  }
}

@media screen and (max-width: 767px) {
  .orginfomain {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
  }
  .orginfomain > h6 {
    margin-left: 30px;
  }
  .ownerdata_inner {
    flex-direction: column;
  }
  .ownerinfo_two {
    margin-left: 25px;
    margin-right: 0px;
  }
  .ownerdata > img {
    margin-top: 25px;
    margin-bottom: 25px;
  }
}

.icons:hover {
  font-size: 35px;
}

.loader,
.loader:after {
  border-radius: 50%;
  width: 10em;
  height: 10em;
}
.loader {
  margin: 60px auto;
  margin-top: 35vh !important;
  font-size: 10px;
  position: relative;
  text-indent: -9999em;
  border-top: 1.1em solid rgba(255, 255, 255, 0.2);
  border-right: 1.1em solid rgba(255, 255, 255, 0.2);
  border-bottom: 1.1em solid rgba(255, 255, 255, 0.2);
  border-left: 1.1em solid #febc59;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
}
@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
