.mainContainer {
  width: 100%;
  padding: 15px;
  cursor: pointer;
  border-radius: 10px;
  /* box-shadow: 2px 2px 8px 0px #c8c8c8; */
  overflow: hidden;
  background-color: rgba(50, 187, 107, 0.15);
}

.cardDetails {
  display: flex;
  flex-direction: column;
}

.cardDetail {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin: 5px;
}

.fillPrimary {
  fill: var(--bs-primary) !important;
}

.badge {
  display: flex;
  width: fit-content;
  background-color: var(--bs-secondary) !important;
  justify-content: center;
  align-items: center;
}

.fitContent {
  width: fit-content;
}

.marginTop {
  margin-top: 10px;
}
